<footer>
  <div class="top">
    <img src="/img/svg/newlogo-branca.svg" alt="" style="max-width: 350px" />

    <div class="content">
      <!-- <div class="icon">
        <img src="//img/svg/tel.svg" alt="" />
        <a href="tel:4133141500">41 3314 - 1500</a>
      </div> -->
      <div class="icon">
        <img src="/img/svg/whats.svg" alt="" />
        <a
          href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
          target="_blank"
          >41 99245 - 1500</a
        >
      </div>

      <a href="https://novvaotorrino.com/">Clínica Novva Otorrino</a>
      <a
        href="https://www.google.com/maps?ll=-25.450333,-49.300389&z=16&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=5978993094600336029"
        target="_blank"
      >
        <p>
          Av. Sete de Setembro, 6520 
          2º andar <br/>Hospital Clínica Los Angeles | Curitiba, PR
        </p>
      </a>
    </div>
    `

    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.644714367849!2d-49.300483199999995!3d-25.450138999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce3e1752ed9a7%3A0x10be894c7529b5ee!2sNovva%20Otorrino!5e0!3m2!1spt-BR!2sbr!4v1752091066281!5m2!1spt-BR!2sbr" 
      width="392" 
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>

  </div>

  <hr />

  <a href="https://namiconsultoria.com.br" class="nami"
    >Desenvolvido por Nami Consultoria</a
  >
</footer>
