<footer>
    <div class="wrap-footer">
      <img 
        src="../img/footer-logo.png"
        srcset="../img/footer-logo@2x.png 2x"
        alt="">
  
      <div class="footer-mid">
        <h4>Dr. Luciano Campelo Prestes</h4>
        <p>CRM 23250 | RQE 1112</p>
        <p>Otorrinolaringologista especialista em Cirurgias da Face</p>
      </div>
      <div class="footer-right">
        <a href="https://maps.app.goo.gl/k1k5C6wA9sWkyBXaA">
          <p>Av. Sete de Setembro, 6520 - 2º Andar - Batel, Curitiba - PR, 80240-001</p>
        </a>
        <a href="https://wa.me/5541992591500?text=Ol%C3%A1,%20estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta%20por%20favor.">
          <p>41 99259-1500</p>
        </a>
      </div>
    </div>
  
    <span></span>
  
    <a href="https://namiconsultoria.com.br" target="_blank" class="nami">
      Desenvolvido por Nami Consultoria
    </a>
  </footer>