<footer>
  <div class="top">
    <img src="/img/svg/newlogo-branca.svg" alt="" style="max-width: 350px" />

    <div class="content">
      <!-- <div class="icon">
        <img src="//img/svg/tel.svg" alt="" />
        <a href="tel:4133141500">41 3314 - 1500</a>
      </div> -->
      <div class="icon">
        <img src="/img/svg/whats.svg" alt="" />
        <a
          href="https://api.whatsapp.com/send?phone=5541992451500"
          target="_blank"
          >41 99245 - 1500</a
        >
      </div>

      <a
        href="https://www.google.com/maps?ll=-25.450333,-49.300389&z=16&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=5978993094600336029"
        target="_blank"
      >
        <p>
          Av. Sete de Setembro, 6520 <br />
          2º andar Hospital Clínica Los Angeles | Curitiba, PR
        </p>
      </a>
    </div>
    `

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.639054686199!2d-49.30296422357905!3d-25.45032813369831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce6aa05a0cd37%3A0x52f9a68a9e2aa29d!2sHospital%20Cl%C3%ADnica%20Los%20Angeles!5e0!3m2!1spt-BR!2sbr!4v1714625014543!5m2!1spt-BR!2sbr"
      width="392"
      height="400"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <hr />

  <a href="https://namiconsultoria.com.br" class="nami"
    >Desenvolvido por Nami Consultoria</a
  >
</footer>
