<nav data-scroll-section>
  <a href="/"
    ><img
      class="logo logo2"
      src="/img/svg/newlogo-preta.svg"
      alt="Logo Luciano Prestes"
  /></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">HOME</a></li>
    <li>
      <a
        class="{{ 'menuactive' if '/drluciano' in page.url }}"
        href="/drluciano/"
        >DR LUCIANO</a
      >
    </li>
    <li>
      <a
        class="{{ 'menuactive' if '/cirurgias-plasticas' in page.url }}"
        href="/cirurgias-plasticas/"
        >Cirurgias <br />Plásticas</a
      >
    </li>
    <li>
      <a
        class="{{ 'menuactive' if '/cirurgias-funcionais' in page.url }}"
        href="/cirurgias-funcionais/"
        >Cirurgias <br />Funcionais</a
      >
    </li>
    <li>
      <a class="{{ 'menuactive' if '/blog' in page.url }}" href="/blog/"
        >BLOG</a
      >
    </li>
    <li>
      <a class="{{ 'menuactive' if '/contato' in page.url }}" href="/contato/"
        >CONTATO</a
      >
    </li>

    <label class="menu-icon-inside only-mobile" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>
