<nav data-scroll-section>
  <a href="/"><img class="logo logo2" src="/img/svg/nav-logo.svg" alt="Logo InoueeLima" /></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">HOME</a></li>
    <li>
      <a
        class="{{ 'menuactive' if '/drluciano' in page.url }}"
        href="/drluciano/"
        >DR LUCIANO</a
      >
    </li>
    <li>
      <a
        class="{{ 'menuactive' if '/rinoplastia' in page.url }}"
        href="/rinoplastia/"
        >rinoplastia</a
      >
    </li>
    <li>
      <a
        class="{{ 'menuactive' if '/cirurgias' in page.url }}"
        href="/cirurgias/"
        >cirurgias</a
      >
    </li>
    <li>
      <a class="{{ 'menuactive' if '/blog' in page.url }}" href="/blog/"
        >BLOG</a
      >
    </li>
    <li>
      <a class="{{ 'menuactive' if '/contato' in page.url }}" href="/contato/"
        >CONTATO</a
      >
    </li>

    <label class="menu-icon-inside only-mobile" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>
