@use 'index' as *;

article {
  width: 80vw;
  max-width: 800px;
  margin: auto;
  margin-top: 9rem;

  .back-button {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #2e2f30;
  }

  .thumbnail {
    margin-top: 2.1rem;
    width: 100%;

    @media screen and (max-width: 600px) {
      width: 80vw;
    }
  }

  .tag-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.1rem;
    margin-bottom: 6.9rem;
  }

  .tag {
    background-color: #c5c5c5;
    text-align: center;
    width: fit-content;
    padding: 1rem;
    min-width: 80px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      /* identical to box height, or 14px */

      text-align: center;

      color: #ffffff;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    letter-spacing: -0.015em;

    color: #2e2f30;
    margin-bottom: 3.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2.8rem;
    }
  }

  .content-container {
    color: #1d4159;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: -0.015em;
    margin-bottom: 8.3rem;

    p {
      font-size: 2rem;
      margin-bottom: 1.2rem;

      @media screen and (max-width: 600px) {
        font-size: 1.8rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 0rem;
  }
}

.other-posts {
  display: flex;
  flex-direction: column;
  width: 66vw;
  margin: auto;
  margin-bottom: 10rem;

  img {
    width: 174px;
    height: 134px;
  }

  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    letter-spacing: -0.015em;

    color: #2e2f30;
    margin-bottom: 4.6rem;
  }

  h4 {
    font-size: 1.4rem;
    width: 200px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
}
