@use 'index' as *;

.blog-container {
  width: 80vw;
  margin: auto;
  max-width: 1050px;
  margin-top: 9rem;
  margin-bottom: 14rem;

  .top-blog {
    display: flex;
    gap: 1rem;

    h3 {
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      /* or 38px */

      letter-spacing: -0.015em;

      /* Bege 02 */

      color: #d6d4d0;
    }

    .first-blog {
      width: 70%;
      position: relative;

      img {
        width: 100%;
        filter: brightness(0.7);
        height: 100%;
        object-fit: cover;
      }

      section {
        height: 100%;
        display: flex;

        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
      }

      section > div {
        position: absolute;
        bottom: 10px;
        left: 10px;

        p {
          font-weight: 700;
          font-size: 32px;
          line-height: 120%;
          /* or 38px */

          letter-spacing: -0.015em;

          /* Bege 02 */

          color: #d6d4d0;
        }

        @media screen and (max-width: 600px) {
          position: unset;

          h3 {
            font-size: 22px;
            line-height: 120%;
            letter-spacing: -0.015em;
            color: #4b4b4b;
            margin-top: 1rem;
          }
        }
      }

      .blogData {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.015em;

        color: #ffffff;
      }
    }

    a {
      height: 100%;
    }
    .second-blog {
      position: relative;
      height: 100%;

      h3 {
        font-size: 22px;
        line-height: 120%;
        /* or 26px */

        letter-spacing: -0.015em;

        /* Bege 02 */

        color: #d6d4d0;
      }

      .blogData {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.015em;

        color: #ffffff;
      }

      img {
        width: 100%;
        filter: brightness(0.7);
        height: 100%;
        object-fit: cover;
      }

      > div {
        position: absolute;
        bottom: 10px;
        left: 10px;

        @media screen and (max-width: 600px) {
          position: unset;

          h3 {
            font-size: 22px;
            line-height: 120%;
            letter-spacing: -0.015em;
            color: #4b4b4b;
            margin-top: 1rem;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    .top-blog {
      flex-direction: column;

      .first-blog {
        width: 100%;

        h3 {
          font-size: 22px;
          line-height: 120%;
          letter-spacing: -0.015em;
          color: #d6d4d0;
        }

        section {
          div {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.tag-container {
  background-color: #c5c5c5;
  width: min-content;
  padding: 4px 1rem;
  margin-top: 4px;

  p {
    color: #fff;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.post-container {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

  .card {
    position: relative;
    height: 100%;
    width: 48%;

    h3 {
      font-size: 22px;
      line-height: 120%;
      /* or 26px */

      letter-spacing: -0.015em;

      /* Bege 02 */

      color: #4b4b4b;
    }

    .blogData {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.015em;

      color: #ffffff;
    }

    img {
      width: 100%;
      filter: brightness(0.7);
      min-height: 283px;
      object-fit: cover;
    }

    > div {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    @media screen and (max-width: 600px) {
      width: 100%;

      img {
        width: 256px;
        filter: brightness(0.7);
        height: 144px;
        min-height: 0;
        object-fit: cover;
      }
    }
  }
}
