@use 'index' as *;


.contato{
  width: 85%;
  margin: 0 auto;
  padding-bottom: 14rem;
}

.wrap-contato{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 14rem 0 10rem;
  gap: 12rem;
  color: $cinza-900;
  .left-contato{
    width: 50rem;
    h1{
      font-size: 4rem;
      line-height: 4.8rem;
      font-weight: 600;
      font-family: $freight;
      margin-bottom: 2rem;
    }
    p{
      font-size: 2.2rem;
      line-height: 3.2rem;
    }
  }
  .right-contato{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .item-contato{
      display: flex;
      gap: 3rem;
      align-items: center;
      p{
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 1%;
        color: $cinza-900;
      }
    }
  }
}

iframe{
  aspect-ratio: 124/50;
  width: 100%;
}

@media (max-width: 700px){
  .contato{
    width: 90%;
    padding-bottom: 6rem;
  }
  .wrap-contato{
    flex-direction: column;
    padding: 6rem 0;
    gap: 4rem;
    .left-contato{
      width: 100%;
      h1{
        font-size: 2.4rem;
        line-height: 3rem;
      }
      p{
        font-size: 1.7rem;
        line-height: 2.3rem;
      }
    }
    .right-contato{
      width: 100%;
      gap: 3rem;
      .item-contato{
        align-items: flex-start;
        img{
          width: 2.4rem;
          height: 2.4rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }
    }
  }
  iframe{
    aspect-ratio: 1/1;
    margin: auto;
  }
}