@use 'index' as *;


.excelencia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 11.7rem 0;
    margin: 0 auto;
    gap: 10rem;
    max-width: 1440px;
    color: $cinza-900;
    .left-excelencia{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 61rem;
        h2{
            font-size: 5rem;
            line-height: 5.6rem;
            letter-spacing: 2%;
            font-family: $freight;
        }
        p{
            font-size: 2.2rem;
            line-height: 3.2rem;
            letter-spacing: 1%;
            font-weight: 400;;
        }
    }
    @media screen and (max-width:700px) {
        flex-direction: column;
        width: 90%;
        padding: 7rem 0;
        .left-excelencia{
            gap: 4rem;
            h2{
                font-size: 2.4rem;
                line-height: 2.8rem;
                width: 30rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}

.procedimentos{
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    .title{
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        gap: 8.5rem;
        span{
            width: 50%;
            border-bottom: 1px solid $cinza-500;
        }
        h1{
            font-size: 4.6rem;
            line-height: 5.2rem;
            letter-spacing: 2%;
            font-family: $freight;
            color: $cinza-900;
        }
    }
    .wrap-procedimentos{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        background-color: $background3;
        margin-top: 9rem;
        .item-procedimentos{
            aspect-ratio: 43/54;
            border-radius: 20px;
            position: relative;
            width: 43rem;
            height: 54rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            p{
                position: absolute;
                bottom: 4rem;
                left: 50%;
                transform: translateX(-50%);
                color: $branco;
                font-size: 2.4rem;
                line-height: 3rem;
                letter-spacing: 5%;
                text-transform: uppercase;
            }
        }
        .item-procedimentos:hover{
            overflow: hidden;
            img{
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        } 
    }
    @media screen and (max-width: 700px){
        .title{
            gap: 1.5rem;
            align-self: center;
            h1{
                flex: 1;
                font-size: 2.2rem;
                line-height: 2.4rem;
            }
            span{
                flex: 1;
            }
        }
        .wrap-procedimentos{
            flex-direction: column;
            gap: 2rem;
            .item-procedimentos{
                width: 90%;
                height: auto;
                aspect-ratio: 316/394;
                p{
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    bottom: 3rem;
                }
            }
        }
    }
}

.funcionais{
    aspect-ratio: 144/54;
    width: 100%;
    height: auto;
    position: relative;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        object-fit: cover;
    }
    .funcionais-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 7%;
        top: 8rem;
        z-index: 5;
        gap: 1.5rem;
        color: $branco;
        width: 43rem;
        h3{
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: 5%;
            text-transform: uppercase;
            font-weight: 500;
        }
        h2{
            font-size: 4.4rem;
            line-height: 5.2rem;
            letter-spacing: 2%;
            font-family: $freight;
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 1%;
            margin: 1rem 0 1.5rem;
        }
        .funcionais-buttons{
            display: flex;
            gap: 1rem;
        }
    }
    @media screen and (max-width: 700px){
        aspect-ratio: 36/46;
        img{
            position: relative;
            width: 100%;
            height: auto;
        }
        .funcionais-text{
            left: 2.2rem;
            top: 4rem;
            width: 25rem;
            h3{
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
            h2{
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
            p{
                font-size: 1.5rem;
                line-height: 2.2rem;
            }
            .funcionais-buttons{
                flex-direction: column;
                a{
                    width: 17rem;
                    height: 4rem;
                }
            }
        }
    }
}

.diferenciais{
    padding: 10rem 0 13rem;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .diferenciais-border{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        span{
            border-bottom:1px solid $cinza-500;
            width: 15rem;
        }
        img{
            width: 3rem;
        }
    }
    h1{
        font-size: 4.2rem;
        line-height: 5rem;
        letter-spacing: 2%;
        width: 61rem;
        text-align: center;
        font-family: $freight
    }
    .wrap-diferenciais{
        display: flex;
        gap: 8.5rem;
        align-items: flex-start;
        justify-content: center;
        color: $cinza-900;
        max-width: 1400px;
        .right-diferenciais{
            display: flex;
            flex-direction: column;
            gap: 6.5rem;
            p{
                font-size: 2.2rem;
                line-height: 3.2rem;
                letter-spacing: 1%;
            }
            .diferenciais-itens{
                display: flex;
                flex-direction: column;
                gap: 3.4rem;
                .item{
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    img{
                        width: 6rem;
                        height: 6rem;
                    }
                    p{
                        font-size: 2rem;
                        line-height: 2.6rem;
                        letter-spacing: 2%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 700px){
        padding: 5rem 0 6rem;
        width: 90%;
        .diferenciais-border{
            gap: 1rem;
            span{
                width: 10rem;
            }
        }
        h1{
            font-size: 2.4rem;
            line-height: 3rem;
            width: 100%;
        }
        .wrap-diferenciais{
            flex-direction: column;
            gap: 4rem;
            margin: 0 auto;
            align-items: center;
            >img{
                width: 100%;
            }
            .right-diferenciais{
                gap: 3.5rem;
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
                .diferenciais-itens{
                    gap: 2rem;
                    .item{
                        gap: 1.5rem;
                        img{
                            width: 3.6rem;
                            height: 3.6rem;
                        }
                        p{
                            font-size: 1.6rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
    }
}

.novva{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    width: 85%;
    margin: 0 auto 12rem;
    .box-novva{
        grid-column: 1;
        grid-row: 1;
        width: 695px;
        height: 300px;
        border-radius: 20px;
        background-color: $cinza-500;
        color: $branco;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 5rem;
        gap: 1rem;
        h1{
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 2%;
            font-family: $freight;
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 1%;
        }
    }
    .bottom-novva{
        grid-column: 1;
        grid-row: 2;
        width: 695px;
        height: 300px;
        border-radius: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
    .right-novva{
        position: relative;
        grid-column: 2;
        grid-row: 1/3;
        width: 525px;
        height: 620px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            filter: brightness(0.8);
        }
        .novva-buttons{
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            a{
                width: 22.6rem;
            }
        }
    }
    @media screen and (max-width: 700px){
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto 6rem;
        gap: 1.5rem;
        .box-novva, .bottom-novva, .right-novva{
            width: 100%;
        }
        .box-novva{
            padding: 3.6rem 2.4rem;
            aspect-ratio: 316/216;
            height: auto;
            border-radius: 16px;
            h1{
                font-size: 2.4rem;
                line-height: 3rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
        .bottom-novva{
            aspect-ratio: 316/216;
            height: auto;
            border-radius: 16px;
            img{
                border-radius: 16px;
            }
        }
        .right-novva{
            aspect-ratio: 316/373;
            height: auto;
            img{
                border-radius: 16px;
            }
            .novva-buttons{
                gap: 1rem;
                a{
                    width: 17rem;
                    height: 4rem;
                }
            }
        }
    }
}

.depoimentos{
    background: $background3;
    padding: 7rem 0;
    color: $cinza-900;
    .title{
        width: 85%;
        margin: 0 auto;
        display: flex;
        gap: 12rem;
        justify-content: center;
        margin-bottom: 9rem;
        .left-depoimentos{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50.5rem;
            h3{
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 1%;
                text-transform: uppercase;
                font-weight: 500;
                text-transform: uppercase;
            }
            h2{
                font-size: 5rem;
                letter-spacing: 2%;
                line-height: 5.4rem;
                font-family: $freight;
            }
        }
        .right-depoimentos{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 66rem;
            padding-top: 2.8rem;
            span{
                border-bottom: 1px solid $cinza-500;
                width: 100%;
            }
            p{
                font-size: 2.2rem;
                line-height: 3.2rem;
                letter-spacing: 1%;
                color: $cinza-900;
                font-weight: 500;
                width: 61rem;
            }
        }
    }
    .swiper{
        padding: 0 10rem;
        .swiper-wrapper{
            padding-bottom: 18rem;
            .swiper-slide{
                width: 44rem;
                height: auto;
                border-radius: 20px;
                background-color: $branco;
                padding: 5rem 3rem 8rem 6rem;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                img{
                    position: absolute;
                    top: 4rem;
                    left: 2rem;
                }
                p{
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                    letter-spacing: 0;
                }
                h4{
                    position: absolute;
                    font-size: 2rem;
                    line-height: 2.6rem;
                    letter-spacing: 0;
                    font-weight: 600;
                    left: 6rem;
                    bottom: 3rem;
                }
            }
        }
        .swiper-buttons{
            display: flex;
            gap: 2rem;
            position: absolute;
            bottom: 0;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            .swiper-button-prev, .swiper-button-next{
                position: unset !important;
                width: 6rem;
                height: 6rem;
            }
        }
    }

    @media screen and (max-width: 700px){
        padding: 5rem 0 4rem;
        .title{
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            margin-bottom: 4rem;
            .left-depoimentos{
                width: 100%;
                h3{
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
                h2{
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    width: 30rem;
                }
            }
            .right-depoimentos{
                width: 100%;
                padding-top: 0;
                span{
                    width: 30rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    width: 30rem;
                }
            }
        }
        .swiper{
            padding: 0 2rem;
            .swiper-wrapper{
                padding-bottom: 9rem;
                .swiper-slide{
                    width: 90% !important;
                    height: auto;
                    padding: 4rem 2rem 6rem 4rem;
                    img{
                        width: 1.6rem;
                        height: auto;
                    }
                    p{
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                    }
                    h4{
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        left: 4rem;
                        bottom: 2rem;
                    }
                }
            }
            .swiper-buttons{
                gap: 1rem;
                .swiper-button-prev, .swiper-button-next{
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
}

.transformacoes{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    padding: 13rem 0;
    // padding: 13rem 0 25rem;
    // margin-bottom: 5rem;
    position: relative;
    .left-transformacoes{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 61rem;
        h3{
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: 5%;
            text-transform: uppercase;
            font-weight: 500;
        }
        h2{
            font-size: 5rem;
            line-height: 5.6rem;
            letter-spacing: 2%;
            font-family: $freight;
        }
        p{
            font-size: 2.2rem;
            line-height: 3.2rem;
            letter-spacing: 1%;
            font-weight: 400;
        }
    }
    .right-transformacoes{
        position: relative;
        width: 59.5rem;
        height: 650px;
        overflow: hidden; 
    }
    .swiper2{
        overflow: hidden;
        width: calc(100% - 7rem);
        height: 100%;
        margin: 0 auto;
        .swiper-wrapper{
            display: flex;
            align-items: center;
            .swiper-slide{
                width: 525px !important;
                height: 650px;
                border-radius: 20px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
    .swiper-button-prev2,
    .swiper-button-next2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .swiper-button-prev2 {
        left: 0;
    }

    .swiper-button-next2 {
        right: 0;
    }

    .swiper-pagination{
        display: flex;
        justify-content: center;
        .swiper-pagination-bullet{
            width: 15rem;
            height: auto;
            background: none;
            overflow: hidden;
            opacity: 1;
            border-radius: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    @media screen and (max-width: 700px){
        flex-direction: column;
        padding: 6rem 0;
        gap: 4rem;
        margin-bottom: 0;
        .left-transformacoes{
            width: 90%;
            h3{
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
            h2{
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
        .right-transformacoes{
            width: 90%;
            height: auto;
            margin: auto;
            // padding-bottom: 14rem;
            .swiper2{
                height: auto;
                width: calc(100% - 4rem);
                .swiper-wrapper{
                    .swiper-slide{
                        width: 100% !important;
                        height: auto;
                        border-radius: 16px;
                        img{
                            border-radius: 16px;
                        }
                    }
                }
            }
            // .swiper-button-prev2,
            // .swiper-button-next2 {
            //     position: absolute;
            //     top: 40%;
            //     transform: translateY(-50%);
            //     z-index: 10;
            // }
              .swiper-button-prev2 {
                width: 1rem;
            }

            .swiper-button-next2 {
                width: 1rem;
            }
        }
        // .swiper-pagination{
        //     flex-wrap: wrap;
        //     gap: 1rem;
        //     .swiper-pagination-bullet{
        //         width: 4rem;
        //         height: auto;
        //         background: none;
        //         overflow: hidden;
        //         opacity: 1;
        //         border-radius: 5px;
        //         img{
        //             width: 100%;
        //             height: 100%;
        //             object-fit: cover;
        //         }
        //     }
        // }
    }
}