@import "./parts/global";
@import "./parts/colors";
@import "./parts/buttons";
@import "./parts/nav";
@import "./parts/footer";

.initial-banner {
  display: flex;
  justify-content: center;
  place-items: center;
  position: relative;
  width: 100vw;
  align-items: center;
  height: 100%;
  height: 68vh;
  overflow: hidden;
  background: #2e2f30;

  .content {
    z-index: 4;
    height: 68vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 10%;

    h1 {
      font-family: "Cyrene";
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 100%;
      color: #c5d0d3;
      max-width: 599px;
    }

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #c5d0d3;
      max-width: 540px;
      margin-top: 2.4rem;
      margin-bottom: 4rem;
    }
  }

  .banner-img {
    margin-left: auto;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 48%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    height: auto;

    .banner-img {
      width: 80%;
      display: flex;
      margin-left: 3rem;
    }
    .content {
      padding: 2rem;
      margin-top: -8rem;
      text-align: center;
      place-items: center;

      h1 {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }
}

.rinoBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;
  padding: 8rem;

  .rinoFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 111px;

    .rinoSide {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-family: $catamaran;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.15em;
        color: black;
      }

      h2 {
        font-family: $catamaran;
        font-weight: 700;
        font-size: 56px;
        line-height: 100%;
        color: $grafite;
        width: 599px;
      }
    }

    .btnSide {
      display: flex;
      flex-direction: column;
      gap: 27px;
      margin-top: 4rem;

      p {
        font-family: $catamaran;
        font-size: 24px;
        line-height: 120%;
        color: $grafite;
        width: 395px;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #63a877;
        border-radius: 2px;
        width: 413px;
        height: 48px;

        font-family: $catamaran;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
        transition: 0.2s;

        &:hover {
          background: #49835a;
        }
      }

      .more-details-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 11px;
        font-family: "Catamaran", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #2e2f30;
        transition: 0.2s;
        background: none;
      }
    }
  }

  .rinoSecond {
    .rinoFlex {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 40px;

      .rinoItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;

        p {
          font-family: $catamaran;
          font-size: 18px;
          line-height: 140%;
          text-align: center;
          color: $grafite;
          width: 194px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    gap: 70px;
    height: auto;
    padding: 4rem 0;

    .rinoFirst {
      flex-direction: column;
      gap: 20px;

      p {
        text-align: center;
      }

      .btnSide {
        p {
          max-width: 90vw;
          font-size: 1.8rem;
        }

        a {
          max-width: 90vw;
          margin: auto;
        }
      }

      .rinoSide {
        h2 {
          font-size: 3rem;
          width: 80vw;
          text-align: center;
        }
      }
    }

    .rinoSecond {
      .rinoFlex {
        flex-direction: column;
      }
    }
  }
}

.blefaBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;
  height: 485px;
  background: $grafite;

  .blefaFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 111px;

    .blefaSide {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-family: $catamaran;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.15em;
        color: white;
      }

      h2 {
        font-family: $catamaran;
        font-weight: 700;
        font-size: 56px;
        line-height: 100%;
        width: 516px;
        color: white;
      }
    }

    .btnSide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 27px;

      p {
        font-family: $catamaran;
        font-size: 24px;
        line-height: 120%;
        color: white;
        width: 416px;
        max-width: 90vw;
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 11px;

        font-family: $catamaran;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #ffffff;
        transition: 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    height: auto;
    padding: 4rem 1rem;
    text-align: center;

    .blefaFirst {
      flex-direction: column;
      gap: 50px;

      .blefaSide {
        h2 {
          font-size: 3rem;
          width: 80vw;
          margin: auto;
        }
      }

      .btnSide {
        a {
          margin: auto;
        }
      }
    }
  }
}

.otoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 740px;

  .otoImg {
    margin-right: -50px;
    margin-bottom: -180px;
  }

  .otoFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-right: 80px;

    p {
      font-family: $catamaran;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0.15em;
      color: black;
    }

    strong {
      font-weight: 700;
      font-size: 40px;
      line-height: 100%;
      color: $grafite;
      width: 473px;
    }

    span {
      font-size: 24px;
      line-height: 120%;
      color: $grafite;
      width: 408px;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 11px;

      font-family: $catamaran;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: $grafite;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    height: auto;
    padding: 4rem 0;

    .otoImg {
      width: 80%;
      display: flex;
      margin-bottom: -62px;
    }
    .otoFlex {
      padding: 2rem;
      gap: 20px;
      text-align: center;
      place-items: center;
      margin-right: 0;

      strong {
        font-size: 2.8rem;
        width: 80vw;
      }

      span {
        width: 80vw;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }
}

.expBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 62px;
  background: $grafite;
  height: 212px;

  strong {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.015em;
    width: 444px;
    color: $azul2;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.015em;
    width: 460px;
    color: $azul2;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
    padding: 17rem 2rem;

    strong {
      width: 85vw;
      font-size: 32px;
    }

    p {
      width: 80vw;
    }
  }
}

.drluciano {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 575px;

  .textFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 200px;

    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $grafite;
    }

    strong {
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
      color: $grafite;
      letter-spacing: -0.015em;
      width: 480px;
    }

    .more {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 11px;

      font-family: $catamaran;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: $grafite;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }

    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #63a877;
      border-radius: 2px;
      width: 306px;
      height: 48px;
      margin-top: 10px;

      font-family: $catamaran;
      font-weight: 700;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
      transition: 0.2s;

      &:hover {
        background: #49835a;
      }
    }
  }

  .luciano {
    width: 48.9vw;
    height: 575px;
    object-fit: cover;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    padding: 4rem 0;
    height: auto;

    .textFlex {
      padding-left: 0;
      margin: auto;
      text-align: center;

      span {
        margin: auto;
      }

      a {
        margin: auto;
      }

      strong {
        font-size: 2.4rem;
        width: 80vw;
        margin: auto;
      }
    }

    .luciano {
      width: 84.9vw;
      height: 388px;
      margin-bottom: 1rem;
    }
  }
}

.consultorio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 102px;
  z-index: 3;

  .slide {
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    .dots {
      text-align: center;
      margin-top: -50px;
      position: relative;
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 5px;
      width: 31px;
      margin: 0 2px;
      background-color: #bbb;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #717171;
    }
  }

  .textFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;

    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $grafite;
    }

    strong {
      font-weight: 600;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: -0.015em;
      color: $grafite;
    }

    p {
      font-size: 24px;
      line-height: 120%;
      color: $grafite;
      width: 417px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    height: auto;
    margin-top: 4rem;
    gap: 70px;

    img {
      width: 75vw !important;
    }

    .textFlex {
      align-items: center;
      text-align: center;

      strong {
        font-size: 32px;
      }

      p {
        width: 85vw;
        font-size: 22px;
      }
    }
  }
}

.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 635px;

  .bg1 {
    position: absolute;
    top: -30%;
    left: 0;
  }

  .bg2 {
    position: absolute;
    right: 0;
    bottom: 3%;
  }

  .textFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0.15em;
      color: black;
    }

    strong {
      font-size: 56px;
      line-height: 100%;
      color: $grafite;
    }

    p {
      font-size: 24px;
      line-height: 120%;
      color: $grafite;
      width: 581px;
      margin: 27px 0 58px;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 11px;

      font-family: $catamaran;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: $grafite;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .bg1 {
      width: 36%;
    }

    .bg2 {
      width: 56%;
    }

    .textFlex {
      strong {
        font-size: 40px;
      }

      p {
        width: 80vw;
      }
    }
  }
}
