@use "./colors" as *;
@use "./global" as *;

.cinzaButton {
  border: none;
  width: fit-content;
  background: $cinza-500;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.9rem;
  color: $branco;
  padding: 1.5rem 2.5rem;
  border-radius: 25px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: all;
  width: 22.6rem;
  &:hover{
   filter: brightness(0.5);
   cursor: pointer;
}
  @media screen and (max-width:700px) {
   font-size: 1.4rem;
   padding: 1.2rem 1.5rem;
   line-height: normal;
   width: 17rem;
  }
  @media (min-width:701px) and (max-width:1200px){
   font-size: 1.4rem;
   padding: 1.2rem;
   line-height: normal;
  }
}
.begeButton {
  width: fit-content;
  background: $background3;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.9rem;
  color: $cinza-500;
  padding: 1.5rem 5rem;
  border-radius: 25px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: all;
  &:hover{
   filter: brightness(0.5);
   cursor: pointer;
}
  @media screen and (max-width:700px) {
   font-size: 1.4rem;
   padding: 0.5rem 0.8rem;
   line-height: normal;
  }
  @media (min-width:701px) and (max-width:1200px){
   font-size: 1.4rem;
   padding: 1.2rem;
   line-height: normal;
  }
}
.pretoButton {
  width: fit-content;
  background: $cinza-900;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.9rem;
  color: $branco;
  padding: 1.5rem 5rem;
  border-radius: 25px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: all;
  &:hover{
   filter: brightness(0.5);
   cursor: pointer;
}
  @media screen and (max-width:700px) {
   font-size: 1.4rem;
   padding: 0.5rem 0.8rem;
   line-height: normal;
  }
  @media (min-width:701px) and (max-width:1200px){
   font-size: 1.4rem;
   padding: 1.2rem;
   line-height: normal;
  }
}
