@import "colors";

footer {
  background-color: #2e2f30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top {
    display: flex;
    justify-content: center;
    height: 363px;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    a,
    p {
      font-weight: 400;
      font-size: 22px;
      line-height: 120%;
      /* or 26px */

      letter-spacing: -0.015em;

      color: #ffffff;
      max-width: 23.3rem;
    }

    .icon {
      display: flex;
      align-items: center;

      img {
        margin-right: 1.3rem;
      }
    }
  }

  hr {
    width: 80vw;
    border: 1px solid #ffffff;
    margin-top: 2rem;
  }

  .nami {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin: 2.5rem;
  }

  iframe {
    margin-top: -137px;
    margin-bottom: -50px;
    z-index: 1;
  }

  @media screen and (max-width: 600px) {
    .top {
      flex-direction: column;
      padding: 5rem;
      height: auto;

      .content {
        gap: 1.4rem;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
      }

      iframe {
        margin-top: 4rem;
      }
    }
  }
}

footer {
  min-height: 407px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    a,
    p {
      font-weight: 400;
      font-size: 22px;
      line-height: 120%;
      letter-spacing: -0.015em;
      color: $grafite;
      max-width: 23.3rem;
    }

    .icon {
      display: flex;
      align-items: center;

      img {
        margin-right: 1.3rem;
      }
    }
  }

  hr {
    width: 80vw;
    border: 1px solid $grafite;
    margin-top: 2rem;
  }

  .nami {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: $grafite;
    margin: 2.5rem;
  }

  iframe {
    margin-top: -137px;
    margin-bottom: -50px;
    z-index: 1;
  }

  @media screen and (max-width: 600px) {
    .top {
      flex-direction: column;

      .content {
        gap: 1.4rem;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
      }

      iframe {
        margin: 0;
      }
    }
  }
}
