---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/bio-page.css"
---

<header class="bio-header">
  <img class="header-img only-desktop" src="../img/bio/header.png" alt="">
  <img class="header-img only-mobile" src="../img/bio/header-mob.png" alt="">
  <img class="left-img" src="../img/bio/left-img.png" alt="">
  <img src="../img/bio/logo.png" alt="" class="logo">
</header>

<section class="content-bio">
  <a href="https://wa.me/5541992451500?text=Ol%C3%A1,%20estava%20no%20site%20do%20Dr.%20Luciano%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="bio-box">
    <img class="only-desktop background" src="../img/bio/agendamento.png" alt="">
    <img class="only-mobile background" src="../img/bio/agendamento-mob.png" alt="">
    <div class="text-box">
      <img src="../img/svg/bio/whats.svg" alt="">
      <h2> Agendamentos</h2>
    </div>
  </a>
  <a href="https://www.youtube.com/@drlucianocampeloprestes" class="bio-box">
    <img class="only-desktop background" src="../img/bio/youtube.png" alt="">
    <img class="only-mobile background" src="../img/bio/youtube-mob.png" alt="">
    <div class="text-box">
      <img src="../img/svg/bio/youtube.svg" alt="">
      <h2>Youtube</h2>
    </div>
  </a>
  <a href="https://drlucianoprestes.com.br/drluciano/" class="bio-box">
    <img class="only-desktop background" src="../img/bio/site.png" alt="">
    <img class="only-mobile background" src="../img/bio/site-mob.png" alt="">
    <div class="text-box">
      <img src="../img/svg/bio/site.svg" alt="">
      <h2>Site</h2>
    </div>
  </a>
  <a href="https://maps.app.goo.gl/rHLNy7NqdtiPSeq5A" class="bio-box">
    <img class="only-desktop background" src="../img/bio/endereco.png" alt="">
    <img class="only-mobile background" src="../img/bio/endereco-mob.png" alt="">
    <div class="text-box">
      <img src="../img/svg/bio/endereco.svg" alt="">
      <h2>Endereço</h2>
    </div>
  </a>
  <a href="https://www.instagram.com/drlucianocampeloprestes/" class="bio-box">
    <img class="only-desktop background" src="../img/bio/instagram.png" alt="">
    <img class="only-mobile background" src="../img/bio/instagram-mob.png" alt="">
    <div class="text-box">
      <img src="../img/svg/bio/instagram.svg" alt="">
      <h2>Instagram</h2>
    </div>
  </a>
  <a href="https://www.tiktok.com/@drlucianoprestes" class="bio-box">
    <img class="only-desktop background" src="../img/bio/tiktok.png" alt="">
    <img class="only-mobile background" src="../img/bio/tiktok-mob.png" alt="">
    <div class="text-box">
      <img src="../img/svg/bio/tiktok.svg" alt="">
      <h2>Tiktok</h2>
    </div>
  </a>
  <a class="nami" href="https://namiconsultoria.com.br/pt">Desenvolvido por Nami Consultoria</a>
</section>