---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/cirurgias-funcionais.css"
---

{% include 'nav.njk' %}

<section class="desvio">
  <div class="mainBanner">
    <img src="/img/cirurgiasf/desvio.jpg" />
    <div class="textDiv">
      <strong>Desvio de Septo</strong>
      <p>Este é um procedimento feito para corrigir o desvio septal (parede que divide o nariz ao meio), removendo e reposicionando as porções de cartilagem ou osso que não estiverem centralizadas.</p>
    </div>
    <img class="vector" src="/img/cirurgiasf/folhamain.svg" />
    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
    </a>
  </div>

  <section class="beneficios">
    <p class="title">Tem duração de aproximadamente dez minutos, com os cirurgiões mais experientes, e um pós operatório sem dor, inchaço ou curativos.</p>
    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>10 minutos de duração</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben5-white.svg" alt="" />
        <p>Sem uso de Tampões</p>
      </div>

    </div>
  
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >
      Agendar avaliação por whatsapp
    </a>

    <img class="folhamob only-mobile" src="/img/svg/folhamob.svg" />
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Quando fazer?</h2>
      <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
  
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992591500"
        >Agendar avaliação por whatsapp
      </a>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Respiração bucal</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Roncos</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Rinite alérgica que não cede aos medicamentos</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Mudança na estrutura dos dentes pela respiração oral</h4>
      </div>
    </div>
  
    <img src="/img/cirurgiasf/folhaquando.svg" alt="" class="leaf-left only-desktop" />
  

    <img src="/img/cirurgiasf/folhaquando.svg" alt="" class="leaf-left" />

    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <div class="line"></div>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Rinoplastia e/ou Turbinectomia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus2.svg" alt="">Conheça outras cirurgias</a>
    </div>
  </section>
</section>

<section class="amigdala">
  <section class="main">
    <img class="only-mobile folhamob" src="/img/svg/folhamobamig.svg" alt="">
    <strong>Amigdalectomia</strong>
    <p>É a remoção das amígdalas palatinas quando estão hipertrofiadas, provocando roncos e prejudicando a respiração, ou quando acabam inflamando com frequência e demandando ciclos de medicamentos repetidamente.</p>
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <section class="darkBanner">
    <img src="/img/cirurgiasf/amigdala.png" alt="">
    <p>Temos também indicação de remover nos adultos, quando as amígdalas formam casium, resíduos alimentares que se acumulam nestas estruturas provocando halitose.</p>
    <img class="dbfolha only-mobile" src="/img/svg/dbfolha.svg" />
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Quando fazer?</h2>
      <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
  
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992591500"
        >Agendar avaliação por whatsapp
      </a>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Respiração bucal</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Roncos</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Infecções repetidas</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Casium (halitose)</h4>
      </div>
    </div>
  
    <img src="/img/cirurgiasf/folhaquando2.svg" class="leaf-left only-desktop" />
  
    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <div class="line"></div>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Rinoplastia e/ou Turbinectomia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus2.svg" alt="">Conheça outras cirurgias</a>
    </div>
  </section>
</section>

<section class="reducao">
  <div class="main">
    <img src="/img/cirurgiasf/reducao.png" alt="">
    <div class="title">
      <strong>Redução de Fratura Nasal</strong>
      <p>Um procedimento para realinhar a parte óssea do nariz, após traumas na face que resultem em fratura nasal.</p>
    </div>
    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
    </a>
    <img class="vector only-desktop" src="/img/cirurgiasf/folhareducao.svg" alt="">
  </div>

  <section class="beneficios">
    <div class="btnSide">
      <p class="title">É feito com anestesia local e sedação, rápido (10 minutos de duração) sem cortes ou suturas e indolor no pós-operatório.</p>
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992591500"
      >
        Agendar avaliação por whatsapp
      </a>
    </div>

    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>10 minutos de duração</p>
      </div>
      <div class="icon">
        <img src="/img/cirurgiasf/bedicon.svg" alt="" />
        <p>Ambulatorial</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben5-white.svg" alt="" />
        <p>Pós-operatório indolor</p>
      </div>
    </div>
    <a
    class="green-button only-mobile"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >Agendar avaliação por whatsapp
  </a>

  <img class="dbfolha only-mobile" src="/img/svg/dbfolha.svg" />
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Recuperação</h2>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Recuperação Indolor</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Curativo (tala) por 5 dias</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Sem tamponamento</h4>
      </div>
    </div>
  
    <img src="/img/cirurgiasf/folhaquando.svg" alt="" class="leaf-left only-desktop" />
    <img src="/img/svg/recuperacaofolha.svg" class="recfolha only-mobile" alt="">
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <div class="line"></div>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Septoplastia concomitantemente a Redução de Fratura Nasal.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus2.svg" alt="">Saiba mais sobre a Septoplastia</a>
    </div>
  </section>
</section>

<section class="tubinectomia">
  <div class="mainFlex">
    <div class="mainBanner">
      <img src="/img/cirurgiasf/tubinectomia.png" />
      <div class="textDiv">
        <strong>Tubinectomia</strong>
        <p>Com anestesia local e sedação, remove-se parte dos cornetos nasais, quando estes estão hipertrofiados.</p>
      </div>
      <img class="vector only-desktop" src="/img/cirurgiasf/folhamain.svg" />
    </div>

    <a
    class="green-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >
    Agendar avaliação por whatsapp
  </a>
  </div>


  <section class="beneficios">
    <div class="btnSide">
      <p class="title">É feito com anestesia local e sedação, rápido (10 minutos de duração) sem cortes ou suturas e indolor no pós-operatório.</p>
    </div>

    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>10 minutos de duração</p>
      </div>
      <div class="icon">
        <img src="/img/cirurgiasf/bedicon.svg" alt="" />
        <p>Ambulatorial</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben5-white.svg" alt="" />
        <p>Sem tamponamento</p>
      </div>
    </div>

    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
    </a>
    <img class="dbfolha only-mobile" src="/img/svg/dbfolha.svg" />
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Quando fazer?</h2>
      <p class="only-desktop">Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
  
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992591500"
        >Agendar avaliação por whatsapp
      </a>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Respiração bucal</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Roncos</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Rinite alérgica que não cede aos medicamentos</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Mudança na estrutura dos dentes pela respiração oral</h4>
      </div>
    </div>
  
    <img src="/img/svg/recuperacaofolha.svg" class="recfolha only-mobile" alt="">
    <img src="/img/cirurgiasf/folhaquando.svg" alt="" class="leaf-left only-desktop" />
  
    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <div class="line"></div>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Rinoplastia e/ou Septoplastia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus2.svg" alt="">Conheça outras cirurgias</a>
    </div>
  </section>
</section>

<section class="uvulo">
  <div class="main">
    <img src="/img/cirurgiasf/uvulo.png" alt="">
    <div class="title">
      <strong>Uvulopalatofaringoplastia</strong>
      <p>Muitos pacientes sofrem com ronco e apneia. E isto pode ser provocado pela região da garganta, quando ela está mais estreita ou flácida, prejudicando o fluxo de ar.</p>
    </div>
    <img class="vector only-desktop" src="/img/cirurgiasf/folhareducao.svg" alt="">
    <a
    class="green-button only-mobile"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
  </a>
  </div>

  <section class="beneficios">
    <div class="benFlex">
      <div class="btnSide">
        <p class="title">Este procedimento faz com que se amplie a passagem do ar e os tecidos da garganta que estiverem flácidos voltam a ficar tensos.</p>
      </div>
  
      <div class="beneficios-container">
        <div class="icon">
          <img src="./../img/svg/ben1-white.svg" alt="" />
          <p>Anestesia local com sedação</p>
        </div>
        <div class="icon">
          <img src="./../img/svg/ben4-white.svg" alt="" />
          <p>15 minutos de duração</p>
        </div>
        <div class="icon">
          <img src="/img/cirurgiasf/sunicon.svg" alt="" />
          <p>Hospital Dia</p>
        </div>
      </div>
    </div>
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >
      Agendar avaliação por whatsapp
    </a>
    <img class="dbfolha only-mobile" src="/img/svg/dbfolha.svg" />

  <div class="line only-desktop"></div>
  </section>

  <section class="quando only-desktop">
    <div class="title">
      <h2>Quando fazer?</h2>
      <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="./../img/svg/wdot.svg" alt="" />
        <h4>Apneia</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/wdot.svg" alt="" />
        <h4>Roncos</h4>
      </div>
    </div>
  
    <img src="/img/cirurgiasf/folhaquando.svg" alt="" class="leaf-left" />
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Recuperação</h2>
      <p class="only-mobile">O paciente precisa se privar por poucos dias de alimentos e bebidas quentes. Será medicado com analgésicos para atenuar a dor e manter uma dieta líquida e pastosa.</p>
      <div class="steps">
        <div class="step">
          <img src="./../img/svg/dot.svg" alt="" />
          <h4>Dieta específica</h4>
        </div>
    
        <div class="step">
          <img src="./../img/svg/dot.svg" alt="" />
          <h4>Sem Curativos</h4>
        </div>
      </div>
    </div>
    <p class="only-desktop">O paciente precisa se privar por poucos dias de alimentos e bebidas quentes. Será medicado com analgésicos para atenuar a dor e manter uma dieta líquida e pastosa.</p>
    <img src="/img/svg/recuperacaofolha.svg" class="recfolha only-mobile" alt="">
  </section>

  <div class="line only-mobile"></div>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou Turbinectomia, concomitantemente ao desvio de septo.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus2.svg" />Conheça outras cirurgias</a>
    </div>
  </section>
</section>

<section class="adenoide">
  <div class="mainFlex">
    <div class="mainBanner">
      <img src="/img/cirurgiasf/adenoide.png" />
      <div class="textDiv">
        <strong>Adenoide</strong>
        <p>É um procedimento para curetagem (raspagem) da adenóide nos pacientes que tem esta estrutura hipertrofiada, interrompendo o fluxo de ar pelo nariz, provocando roncos e nariz trancado.</p>
      </div>
      <img class="vector only-desktop" src="/img/cirurgiasf/folhamain.svg" />
    </div>

    <a
    class="green-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >
    Agendar avaliação por whatsapp
  </a>
  </div>

  <section class="beneficios">
    <div class="btnSide">
      <p class="title">É feita a partir de 1 ano e meio de idade, com anestesia geral e curta duração (10 minutos). O paciente faz em regime de Hospital Dia, sem necessidade de pernoite no hospital.</p>
    </div>

    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>10 minutos de duração</p>
      </div>
      <div class="icon">
        <img src="/img/cirurgiasf/bedicon.svg" alt="" />
        <p>Ambulatorial</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia geral</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben5-white.svg" alt="" />
        <p>Sem tamponamento</p>
      </div>
    </div>
    <a
    class="green-button only-mobile"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
  </a>
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Quando fazer?</h2>
      <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
  
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992591500"
        >Agendar avaliação por whatsapp
      </a>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Respiração bucal</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Roncos</h4>
      </div>
  
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Congestão nasal</h4>
      </div>
    </div>
  
    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <div class="line only-desktop"></div>

  <section class="recuperacao">
    <img src="/img/cirurgiasf/folhaquando.svg" alt="" class="leaf-left only-desktop" />

    <strong>Recuperação</strong>
    <p>O paciente precisa evitar alimentos quentes, e não fazer esforço físico. O pós-operatório é indolor.</p>
  </section>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Rinoplastia e/ou Septoplastia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus.svg" alt="">Conheça outras cirurgias</a>
    </div>
  </section>
</section>

<section class="sinusite">
  <div class="mainFlex">
    <div class="mainBanner">
      <div class="textDiv">
        <strong>Sinusite (Fess)</strong>
        <p>A cirurgia endoscópica dos seios nasais é feita para quem sofre com sinusite crônica. Retiramos a secreção acumulada nestes seios, além de abrir e ampliar a comunicação entre os seios e a cavidade nasal para que não se acumule mais esta secreção.</p>
      </div>
      <div class="btnDiv">
        <img src="/img/cirurgiasf/sinusite.png" />
        <a
          class="green-button"
          target="_blank"
          href="https://api.whatsapp.com/send?phone=5541992591500"
        >
          Agendar avaliação por whatsapp
        </a>
      </div>
    </div>
  </div>


  <section class="beneficios">
    <div class="btnSide">
      <p class="title">É feita também em regime de Hospital Dia, com anestesia local e sedação, e tem duração de aproximadamente uma hora.</p>
    </div>

    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>1 hora de duração</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="/img/cirurgiasf/sunicon.svg" alt="" />
        <p>Hospital Dia</p>
      </div>
    </div>
  </section>

  <section class="procedimento">
    <div class="title">
      <h2>Recuperação</h2>
      <div class="steps">
        <div class="step">
          <img src="./../img/svg/dot.svg" alt="" />
          <h4>Indolor</h4>
        </div>
    
        <div class="step">
          <img src="./../img/svg/dot.svg" alt="" />
          <h4>Sem Curativos</h4>
        </div>
      </div>
    </div>
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >
      Agendar avaliação por whatsapp
    </a>

    <img src="/img/cirurgiasf/folhaquando2.svg" alt="" class="leaf-left" />
  </section>

  <div class="line"></div>

  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou Turbinectomia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="btnSide">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
      <a href=""><img src="/img/main/plus2.svg" />Conheça outras cirurgias</a>
    </div>
  </section>
</section>

<section class="adenoamigda">
  <div class="mainFlex">
    <div class="mainBanner">
      <img src="/img/cirurgiasf/adenoamigda.png" />
      <div class="textDiv">
        <strong>Adenoamigdalectomia</strong>
        <p>É a associação entre a Adenoidectomia e Amigdalectomia no mesmo procedimento.</p>
      </div>
      <img class="vector" src="/img/cirurgiasf/folhamain.svg" />
    </div>

    <div class="btnDiv">
      <a href=""><img src="/img/main/plus2.svg" />Saiba mais sobre Amigdalectomia</a>
      <a href=""><img src="/img/main/plus2.svg" />Saiba mais sobre Adenoidectomia</a>
    </div>
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >
      Agendar avaliação por whatsapp
    </a>
  </div>
</section>
{% include 'footer.njk' %}