---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/cirurgias.css"
---

{% include 'nav.njk' %}

<section class="menu-container">
  <img class="folha1 only-desktop" src="/img/svg/cirfolha.svg" />
  <div class="menuFlex">
    <strong>Cirurgias</strong>
    <div class="menuBtn">
      <a href="/cirurgias-funcionais">Funcionais</a>
      <a href="/cirurgias-plasticas">Plásticas</a>
    </div>
  </div>
  <img class="folha2 only-desktop" src="/img/svg/cirfolha2.svg" />
  <img class="folha3 only-mobile" src="/img/svg/cirfolhamob.svg" />
</section>

{% include 'footer.njk' %}
