---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/cirurgias-plasticas.css"
---

{% include 'nav.njk' %}

<section class="titleContainer">
  <img class="folha1" src="/img/svg/leaf-left-plasticas.svg" />
  <h1>Cirurgias Plásticas</h1>
</section>

<section class="nav">
  <div class="btnDiv">
    <button
      onclick="pickTab('rinoplastia')"
      id="rinoplastiaButton"
      class="active"
    >
      Rinoplastia
    </button>
    <button 
      onclick="pickTab('otoplastia')" 
      id="otoplastiaButton" 
      class="">
      Otoplastia <br />
      Orelha
    </button>
    <button
      onclick="pickTab('blefaroplastia')"
      id="blefaroplastiaButton"
      class=""
    >
      Blefaroplastia <br />
      Pálpebras inferior e superior
    </button>
  </div>
</section>

<div id="rinoplastia">
  <section class="initial-banner">
    <div class="content">
      <h1>
        Rinoplastia
      </h1>
      <p>
        O Dr Luciano preza por um resultado estético que resolva todos as imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que se obtenha um resultado natural, sem feições de cirurgia plástica.
      </p>
  
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992451500"
      >
        Agendar avaliação por whatsapp
      </a>
    </div>
  
    <picture>
      <!-- <source type="image/webp" srcset="../img/man-rinoplastia.webp" /> -->
      <source type="image/png" srcset="../img/man-rinoplastia.png" />
      <img class="banner-img" src="../img/man-rinoplastia.png" alt="Foto do paciente" />
    </picture>
  </section>
  
  <section class="beneficios">
    <h2>Benefícios da Rinoplastia</h2>
    <div class="beneficios-container">
      <div class="icon">
        <img src="../img/svg/ben1.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="../img/svg/ben2.svg" alt="" />
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional)</p>
      </div>
      <div class="icon">
        <img src="../img/svg/ben3.svg" alt="" />
        <p>
          Laser ultrassônico para corte e modelagem do osso (sem uso de martelo)
        </p>
      </div>
      <div class="icon">
        <img src="../img/svg/ben4.svg" alt="" />
        <p>Sem uso de Tampões</p>
      </div>
      <div class="icon">
        <img src="../img/svg/ben5.svg" alt="" />
        <p>Rápida recuperação com alta no mesmo dia</p>
      </div>
    </div>
  
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  
    <hr />
  
    <img class="folha-esquerda" src="../img//svg/folha-esquerda.svg" alt="" />
    <img class="folha-direita" src="../img//svg/folha-direita.svg" alt="" />
  </section>
  
  <section class="diferenciais only-desktop">
    <h2>Diferenciais Dr. Luciano</h2>
    <div class="beneficios-container">
      <div class="icon">
        <img src="../img/svg/dif1.svg" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="icon">
        <img src="../img/svg/dif2.svg" alt="" />
        <p>Simulação com resultado cirúrgico</p>
      </div>
      <div class="icon">
        <img src="../img/svg/dif3.svg" alt="" />
        <p>Médico cirurgião com mais de 15 anos de experiência</p>
      </div>
      <div class="icon">
        <img src="../img/svg/dif4.svg" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="icon">
        <img src="../img/svg/dif5.svg" alt="" />
        <p>Cirurgia combinada de otoplastia blefaroplastia ou septoplastia</p>
      </div>
      <div class="icon">
        <img src="../img/svg/dif6.svg" alt="" />
        <p>Cirurgia aberta ou fechada</p>
      </div>
    </div>
  
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  </section>
  
  <section class="rinoplastia">
    <h2>Quando fazer uma rinoplastia?</h2>
    <p>
      Este é um procedimento que pode ser realizado para resolver diversas queixas
      e mudanças no nariz, como:
    </p>
  
    <div class="card-container">
      <div class="card">
        <img src="../img/rectangle-bordered.png" alt="" />
        <p>Ponta caída ou grossa</p>
      </div>
      <div class="card">
        <img src="../img/rectangle-bordered.png" alt="" />
        <p>Abertura nasal alargada</p>
      </div>
      <div class="card">
        <img src="../img/rectangle-bordered.png" alt="" />
        <p>Nariz torto, ou grande</p>
      </div>
    </div>
  
    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  </section>
  
  <section class="procedimento">
    <div class="title">
      <p>passo a passo</p>
      <h2>Como funciona o procedimento de rinoplastia?</h2>
  
      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992451500"
        >Agendar avaliação por whatsapp
      </a>
    </div>
  
    <div class="steps">
      <div class="step">
        <img src="../img/svg/dot.svg" alt="" />
        <h4>Consulta online e presencial</h4>
        <p>
          O Dr. Luciano examinará o seu nariz para compreender os seus objetivos.
        </p>
      </div>
  
      <div class="step">
        <img src="../img/svg/dot.svg" alt="" />
        <h4>Simulador de resultado cirúrgico</h4>
        <p>
          O programa permite ao Dr. Luciano compreender a insatisfação estética do
          paciente, para que juntos realizem um esboço do que será feito no
          procedimento.
        </p>
      </div>
  
      <div class="step">
        <img src="../img/svg/dot.svg" alt="" />
        <h4>Agendamento da cirurgia</h4>
        <p>
          O paciente deverá comparecer ao local pelo menos 1 hora antes do horário
          programado para assinar os documentos necessários e ser preparado para o
          procedimento.
        </p>
      </div>
  
      <div class="step">
        <img src="../img/svg/dot.svg" alt="" />
        <h4>Procedimento</h4>
        <p>
          A cirurgia levará em torno de 1 hora e o paciente receberá alta no mesmo
          dia.
        </p>
      </div>
  
      <div class="step">
        <img src="../img/svg/dot.svg" alt="" />
        <h4>Recuperação</h4>
        <p>
          O paciente utiliza curativo por sete dias e geralmente tem pouco edema e
          inchaço.
        </p>
      </div>
  
      <div class="step" style="padding-bottom: 0">
        <img src="../img/svg/dot.svg" alt="" />
        <h4>Cuidados pós-cirúrgicos</h4>
        <p>
          Cumprir orientações de cuidado pós cirurgia e comparecer as consultas.
        </p>
      </div>
    </div>
  
    <img src="../img/svg/leaf-left.svg" alt="" class="leaf-left" />
  
    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
      >Agendar avaliação por whatsapp
    </a>
  </section>
  
  <div class="separator only-mobile"></div>
  
  <section class="procedimentos">
    <div class="titleSide">
      <strong>Procedimentos Associados</strong>
      <p>
        Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou
        Turbinectomia (remoção de cornetos nasais), concomitantemente à
        Rinoplastia.
      </p>
    </div>
    <div class="btnSide">
      <p>
        Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico
        e programacão cirurgica pelo Otorrinolaringologista.
      </p>
      <a href=""
        ><img src="/img/main/plus2.svg" alt="" />Conheça outras cirurgias</a
      >
    </div>
  </section>
  
  <section class="perguntas only-desktop">
    <h2>Perguntas Frequentes</h2>
  
    <button type="button" class="collapsible">
      Posso realizar o procedimento de rinoplastia por convênio médico?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Copel, Sanepar, Judicimed, Medservice.
        <br/><br/>
        Já a cirugia é feita de modo particular.
        <br/><br/>
        Alguns convênios cobrem a parte funcional da cirugia  (como correção de desvio de septo).      
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Quanto custa o procedimento?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
         O custo da cirurgia varia de acordo com diversos fatores, como tempo
            de cirurgia, materiais utilizados e complexidade do caso. O
            orçamento pode ser feito após a avaliação individual em consulta.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      O local da consulta de avaliação e da cirurgia é o mesmo?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        As consultas e a cirurgia serão realizadas no mesmo hospital. A
            Novva Otorrino está localizada dentro do Hospital Los Angeles, onde
            realizamos os atendimentos clínicos. O hospital também conta com um
            centro cirúrgico completo para atender os pacientes.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      É possível fazer outras cirurgias nasais juntamente com a rinoplastia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        Sim, é possível realizar outras cirurgias nasais funcionais junto
            com a rinoplastia. Também é possível realizar outras cirurgias para
            fins estéticos como otoplastia e blefaroplastia.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Como é feita a anestesia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
       A anestesia para a cirurgia será definida pelo paciente em conjunto
            com o médico anestesista, de acordo com os resultados dos exames,
            preferência do paciente e consulta pré-anestésica. O paciente pode
            fazer a cirurgia com anestesia local e sedação ou anestesia geral.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Como é feita a cirurgia? Os cortes são externos ou internos?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        A maioria das rinoplastias realizadas pelo Dr. Luciano Prestes são
            rinoplastias fechadas, uma técnica de cirurgia que realiza os
            cortes, incisões e suturas de maneira interna. Porém, alguns casos
            necessitam de uma rinoplastia aberta, que necessita de pequenas
            incisões externas, deixando cicatrizes imperceptíveis após a
            cirurgia.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Qual é o tempo de cirurgia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        A rinoplastia costuma durar em torno de 1h30min para a grande
            maioria dos pacientes. Porém, o tempo de cirurgia varia de acordo
            com a complexidade do caso, podendo variar de 1h a 5h de duração.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Usa-se tampão após a cirurgia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        Não se usa mais tampão nasal nas rinoplastias e outras cirurgias
            nasais.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Como é a recuperação com relação à dor e hematomas?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        Normalmente, os pacientes não se queixam de dor. Nós prescrevemos
            analgésicos para dor caso necessário, mas a maioria dos pacientes
            não os utiliza. Os hematomas podem variar de paciente para paciente,
            em sua maioria eles somem em até 10 dias. O Dr. Luciano Prestes
            utiliza o piezo para realizar a rinoplastia ultrassônica, diminuindo
            os hematomas pós-cirúrgicos.
      </p>
    </div>
  
    <button type="button" class="collapsible">
      Em quanto tempo após a cirurgia posso retornar para o trabalho e atividades
      físicas?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
         Normalmente, após 14 dias o paciente já pode retornar a todas as
            atividades, incluindo esforço físico em academias e esportes.
      </p>
    </div>
  
    <a class="green-button" target="_blank" href="https://api.whatsapp.com/send?phone=5541992451500">
      Agendar avaliação por whatsapp
    </a>
  </section>
</div>

<div id="otoplastia">
  <section class="initial-banner">
    <div class="content">
      <h1>Otoplastia</h1>
      <p>
        Melhore a posição e angulação de suas orelhas e com isso, destaque os
        aspectos positivos do seu rosto.
      </p>

      <a
        class="green-button"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992451500"
      >
        Agendar avaliação por whatsapp
      </a>
    </div>

    <picture>
      <!-- <source type="image/webp" srcset="../../img/otoplastia/otoplastia-banner.webp" /> -->
      <source
        type="image/png"
        srcset="../../img/otoplastia/otoplastia-banner.png"
      />
      <img
        class="banner-img"
        src="../../img/otoplastia/otoplastia-banner.png"
        alt="Foto do paciente"
      />
    </picture>
  </section>

  <section class="beneficios">
    <h2>Benefícios da Otoplastia com o Dr Luciano Prestes:</h2>
    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben2-white.svg" alt="" />
        <p>
          Acompanhamento pós-operatório por seis meses (sem custo adicional)
        </p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben3-white.svg" alt="" />
        <p>Rápida recuperação, geralmente com pós-operatório indolor</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben5-white.svg" alt="" />
        <p>Procedimento muito pouco invasivo</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>Alta no mesmo dia</p>
      </div>
    </div>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>

    <hr />

    <img class="folha-esquerda" src="./../img//svg/folha-esquerda.svg" alt="" />
    <img class="folha-direita" src="./../img//svg/folha-direita.svg" alt="" />
  </section>

  <section class="rinoplastia">
    <h2>Quando fazer uma otoplastia?</h2>

    <div class="card-container">
      <div class="card-container">
        <div class="card">
          <p>
            Correção das orelhas em abano, angulação das orelhas e/ou orelhas
            proeminentes
          </p>
        </div>
        <div class="card">
          <p>Correção de deformações genéticas ou acidentais</p>
        </div>
        <div class="card">
          <p>Redução de orelhas muito grandes e/ou desproporcionais</p>
        </div>
        <div class="card">
          <p>Redução dos lóbulos aumentados</p>
        </div>
      </div>
    </div>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  </section>

  <section class="procedimento">
    <div class="title">
      <p>passo a passo</p>
      <h2>Como funciona o procedimento de Otoplastia?</h2>

      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992451500"
        >Agendar avaliação por whatsapp
      </a>
    </div>

    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Primeira consulta (online ou presencial)</h4>
        <p>
          O Dr. Luciano examinará e indicará o procedimento adequado para você
        </p>
      </div>

      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Agendamento da cirurgia</h4>
        <p>
          O paciente deverá chegar com uma hora de antecedência na clínica e
          ficar 8 horas em jejum
        </p>
      </div>

      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>O procedimento</h4>
        <p>
          A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia
        </p>
      </div>

      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Recuperação</h4>
        <p>
          A retirada dos pontos é feita após sete dias do procedimento. Do
          oitavo dia em diante a resolução dos hematomas e inchaço é rápida e
          constante
        </p>
      </div>

      <div class="step" style="padding-bottom: 0">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Cuidados pós-cirúrgicos</h4>
        <p>
          Cumprir orientações de cuidado pós cirurgia e comparecer as consultas.
        </p>
      </div>
    </div>

    <img src="./../img/svg/leaf-left.svg" alt="" class="leaf-left" />

    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <hr class="separator" />

  <section class="otoplastia-recuperacao">
    <h2>Recuperação</h2>
    <p>
      A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor.
    </p>

    <div class="card-container">
      <div class="card">
        <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
        <p>Curativo 48-72 horas</p>
      </div>
      <div class="card">
        <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
        <p>Pontos retirados em 14 dia</p>
      </div>
      <div class="card">
        <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
        <p>
          Analgésicos <br />
          leves
        </p>
      </div>
    </div>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  </section>

  <section class="perguntas">
    <h2>Perguntas Frequentes</h2>

    <button type="button" class="collapsible">
      Posso realizar o procedimento de otoplastia por convênio médico?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Copel, Sanepar, Judicimed, Medservice.
        <br/><br/>
        Já a cirugia é feita de modo particular.
        <br/><br/>
        Alguns convênios cobrem a parte funcional da cirugia  (como correção de desvio de septo).      
      </p>
    </div>

    <button type="button" class="collapsible">
      Quanto custa o procedimento?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>O custo do procedimento varia de acordo com o quadro individual de cada paciente, a causa da “orelha em abano”, o tempo estimado para a cirurgia e a idade do paciente. O orçamento só poderá ser apresentado após a avaliação individual em consulta.</p>
    </div>

    <button type="button" class="collapsible">
      O local da consulta de avaliação e da cirurgia é o mesmo?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>As consultas e a cirurgia serão realizadas no mesmo hospital. A Novva Otorrino está localizada dentro do Hospital Los Angeles, onde realizamos os atendimentos clínicos. O hospital também conta com um centro cirúrgico completo para atender os pacientes.</p>
    </div>

    <button type="button" class="collapsible">
      É possível fazer outras cirurgias juntamente com a otoplastia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A cirurgia de otoplastia pode ser realizada em conjunto com outras cirurgias como a rinoplastia e a blefaroplastia.</p>
    </div>

    <button type="button" class="collapsible">
      Como é feita a anestesia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A anestesia para a cirurgia será definida pelo paciente em conjunto com o médico anestesista, de acordo com os resultados dos exames, preferência do paciente e consulta pré-anestésica. O paciente pode fazer a cirurgia com anestesia local e sedação ou anestesia geral.</p>
    </div>

    <button type="button" class="collapsible">
      Como é feita a cirurgia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A cirurgia é feita por meio de uma incisão atrás da orelha, para acessar e manipular a cartilagem e realizar as suturas necessárias. A incisão ficará escondida após a cirurgia e não deixará cicatrizes visíveis.</p>
    </div>

    <button type="button" class="collapsible">
      Qual é o tempo de cirurgia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>O tempo aproximado de cirurgia é entre 1h30min e 2h.</p>
    </div>

    <button type="button" class="collapsible">
      Como é a recuperação com relação à dor e hematomas?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A recuperação é muito tranquila e poucos pacientes reclamam de dor. Por isso, a otoplastia é uma cirurgia realizada frequentemente em crianças, por volta dos 7 a 8 anos. Os hematomas costumam ficar escondidos.</p>
    </div>

    <button type="button" class="collapsible">
      Em quanto tempo após a cirurgia posso retornar para o trabalho e
      atividades físicas?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>Caso o trabalho do paciente não exija esforços físicos, ele pode retornar ao trabalho após a retirada da faixa, em 4 dias. O paciente só será liberado para esforços físicos, seja de trabalho ou exercícios, após 14 dias.</p>
    </div>
  </section>
</div>

<div id="blefaroplastia">
  <section class="initial-banner">
    <div class="content">
      <h1>
        Blefaroplastia: seus olhos e pálpebras sem flacidez ou bolsas criadas
        pelo envelhecimento
      </h1>
      <p>
        Rejuvenesça o terço superior do seu rosto com procedimento e alta no
        mesmo dia.
      </p>

      <a
        class="green-button"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992451500"
      >
        Agendar avaliação por whatsapp
      </a>
    </div>

    <picture>
      <!-- <source type="image/webp" srcset="../../img/otoplastia/otoplastia-banner.webp" /> -->
      <source
        type="image/png"
        srcset="../../img/blefaroplastia/blefaroplastia-banner.png"
      />
      <img
        class="banner-img"
        src="../../img/blefaroplastia/blefaroplastia-banner.png"
        alt="Foto do paciente"
      />
    </picture>
  </section>

  <section class="beneficios">
    <h2>Benefícios da Blefaroplastia com o Dr Luciano Prestes:</h2>
    <div class="beneficios-container">
      <div class="icon">
        <img src="./../img/svg/ben1-white.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben2-white.svg" alt="" />
        <p>
          Acompanhamento pós-operatório por seis meses (sem custo adicional)
        </p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben3-white.svg" alt="" />
        <p>Rápida recuperação, geralmente com pós-operatório indolor</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben5-white.svg" alt="" />
        <p>Procedimento muito pouco invasivo</p>
      </div>
      <div class="icon">
        <img src="./../img/svg/ben4-white.svg" alt="" />
        <p>Alta no mesmo dia</p>
      </div>
    </div>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>

    <hr />

    <img class="folha-esquerda" src="./../img//svg/folha-esquerda.svg" alt="" />
    <img class="folha-direita" src="./../img//svg/folha-direita.svg" alt="" />
  </section>

  <section class="rinoplastia">
    <h2>Quando fazer uma blefaroplastia?</h2>
    <p>
      Este é um procedimento que pode resolver muitas queixas dos pacientes
      nesta região, como:
    </p>

    <div class="card-container">
      <div class="card-container">
        <div class="card">
          <p>Olhos cansados (caídos)</p>
        </div>
        <div class="card">
          <p>Bolsas (principalmente nas pálpebras inferiores)</p>
        </div>
        <div class="card">
          <p>Limitação do campo visual (excesso de pele)</p>
        </div>

        <div class="card">
          <p>Olheiras</p>
        </div>
      </div>
    </div>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  </section>

  <section class="procedimento">
    <div class="title">
      <p>passo a passo</p>
      <h2>Como funciona o procedimento de Blefaroplastia?</h2>

      <a
        class="green-button only-desktop"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541992451500"
        >Agendar avaliação por whatsapp
      </a>
    </div>

    <div class="steps">
      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Primeira consulta (online ou presencial)</h4>
        <p>
          O Dr. Luciano examinará e indicará o procedimento adequado para você
        </p>
      </div>

      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Agendamento da cirurgia</h4>
        <p>
          O paciente deverá chegar com uma hora de antecedência na clínica e
          ficar 8 horas em jejum
        </p>
      </div>

      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>O procedimento</h4>
        <p>
          A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia
        </p>
      </div>

      <div class="step">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Recuperação</h4>
        <p>
          A retirada dos pontos é feita após sete dias do procedimento. Do
          oitavo dia em diante a resolução dos hematomas e inchaço é rápida e
          constante
        </p>
      </div>

      <div class="step" style="padding-bottom: 0">
        <img src="./../img/svg/dot.svg" alt="" />
        <h4>Cuidados pós-cirúrgicos</h4>
        <p>
          Cumprir orientações de cuidado pós cirurgia e comparecer as consultas.
        </p>
      </div>
    </div>

    <img src="./../img/svg/leaf-left.svg" alt="" class="leaf-left" />

    <a
      class="green-button only-mobile"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
      >Agendar avaliação por whatsapp
    </a>
  </section>

  <hr class="separator" />

  <section class="otoplastia-recuperacao">
    <h2>Recuperação</h2>
    <p>
      A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor.
    </p>

    <div class="card-container">
      <div class="card">
        <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
        <p>Curativo 48-72 horas</p>
      </div>
      <div class="card">
        <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
        <p>Pontos retirados em 14 dia</p>
      </div>
      <div class="card">
        <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
        <p>
          Analgésicos <br />
          leves
        </p>
      </div>
    </div>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992451500"
    >
      Agendar avaliação por whatsapp
    </a>
  </section>

  <section class="perguntas">
    <h2>Perguntas Frequentes</h2>

    <button type="button" class="collapsible">
      Posso realizar o procedimento de blefaroplastia por convênio médico?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>
        A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Copel, Sanepar, Judicimed, Medservice.
        <br/><br/>
        Já a cirugia é feita de modo particular.
        <br/><br/>
        Alguns convênios cobrem a parte funcional da cirugia  (como correção de desvio de septo).      
      </p>    
    </div>

    <button type="button" class="collapsible">
      Quanto custa o procedimento?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>O custo do procedimento varia de acordo com a complexidade do caso, levando em consideração o excesso de pele e gordura a ser retirado, se será apenas uma blefaroplastia superior, inferior ou ambas, idade do paciente e histórico. O orçamento só poderá ser apresentado após a avaliação individual em consulta.</p>
    </div>

    <button type="button" class="collapsible">
      O local da consulta de avaliação e da cirurgia é o mesmo?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>As consultas e a cirurgia serão realizadas no mesmo hospital. A Novva Otorrino está localizada dentro do Hospital Los Angeles, onde realizamos os atendimentos clínicos. O hospital também conta com um centro cirúrgico completo para atender os pacientes.</p>
    </div>

    <button type="button" class="collapsible">
      É possível fazer outras cirurgias juntamente com a blefaroplastia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A cirurgia de blefaroplastia pode ser realizada de maneira conjunta com outras cirurgias, como a rinoplastia e a otoplastia.</p>
    </div>

    <button type="button" class="collapsible">
      Como é feita a anestesia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A anestesia para a cirurgia será definida pelo paciente em conjunto com o médico anestesista, de acordo com os resultados dos exames, preferência do paciente e consulta pré-anestésica. O paciente pode fazer a cirurgia com anestesia local e sedação ou anestesia de máscara laríngea. </p>
    </div>

    <button type="button" class="collapsible">
      Como é feita a cirurgia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>A cirurgia de blefaroplastia da pálpebra superior é feita através de uma incisão bem no sulco da pálpebra, para que não fique cicatrizes aparentes. Por meio da incisão, é retirado o excesso de pele e cauterizado o excesso de gordura da região. Na pálpebra inferior, normalmente, o motivo da cirurgia é o excesso de gordura. O acesso é realizado por meio transconjuntival, realizando a cauterização da bolsa de gordura.</p>
    </div>

    <button type="button" class="collapsible">
      Qual é o tempo de cirurgia?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>O tempo de uma blefaroplastia superior varia entre 40 minutos e 1 hora. Já de uma blefaroplastia inferior leva em torno de 30 minutos. A blefaroplastia total, ou seja, uma blefaroplastia das 4 pálpebras, leva em torno de 1h30min.</p>
    </div>

    <button type="button" class="collapsible">
      Como é a recuperação com relação à dor e hematomas?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>Os pacientes dificilmente sentem dor após a blefaroplastia. Os hematomas costumam durar de 7 a 10 dias.</p>
    </div>

    <button type="button" class="collapsible">
      Em quanto tempo após a cirurgia posso retornar para o trabalho e
      atividades físicas?
      <p class="symbol">+</p>
    </button>
    <div class="text-content">
      <p>O paciente pode retornar ao trabalho após a retirada dos pontos e do curativo, em 7 dias. Para atividades de esforço físico como esportes e academia, somente após 14 dias.</p>
    </div>
  </section>
</div>

{% include 'footer.njk' %}

<script>
  const rinoButton = document.getElementById(`rinoplastiaButton`);
  const otoplastiaButton = document.getElementById(`otoplastiaButton`);
  const blefaroButton = document.getElementById(`blefaroplastiaButton`);

  const rinoplastia = document.getElementById(`rinoplastia`);
  const otoplastia = document.getElementById(`otoplastia`);
  const blefaroplastia = document.getElementById(`blefaroplastia`);

  const params = new URLSearchParams(window.location.search);
  console.log(params.get('cirurgia'));
  
  pickTab((params.get('cirurgia') ?? "rinoplastia").toString());

  function pickTab(id) {
    rinoplastia.style.display = "none";
    otoplastia.style.display = "none";
    blefaroplastia.style.display = "none";

    rinoButton.classList.remove("active");
    otoplastiaButton.classList.remove("active");
    blefaroButton.classList.remove("active");

    switch (id) {
      case "rinoplastia":
        rinoplastia.style.display = "flex";
        rinoButton.classList.add("active");
        break;
      case "otoplastia":
        otoplastia.style.display = "flex";
        otoplastiaButton.classList.add("active");
        break;
      case "blefaroplastia":
        blefaroplastia.style.display = "flex";
        blefaroButton.classList.add("active");
        break;
      default:
        break;
    }
  }

  const swiper = new Swiper(".swiper", {
    // Optional parameters
    direction: "horizontal",
    slidesPerView: "1",
    spaceBetween: 50,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });

  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var el = this.children;
      if (this.classList[1]) {
        el[0].innerText = "-";
      } else {
        el[0].innerText = "+";
      }
      console.log("oi")
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }

</script>
