---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/contato.css"
---

<section class="contato">
  <img class="vector" src="/img/main/vectorcontato.svg" alt="">
  <div class="top">
    <div class="content">
      <strong>Contato</strong>
      <p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="icon">
        <img src="/img/svg/tel.svg" alt="" />
        <a href="tel:4133141500">41 3314 - 1500</a>
      </div>
      <div class="icon">
        <img src="/img/svg/whats.svg" alt="" />
        <a
          href="https://api.whatsapp.com/send?phone=5541992591500"
          target="_blank"
          >41 9 9259 - 1500</a
        >
      </div>

      <p>Av. Rep. Argentina, 2069<br>Água Verde | Curtiba, PR</p>
    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.2050678147702!2d-49.29278798471778!3d-25.4648270837725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce37b130258b9%3A0xb0b13d7fa49f192f!2sAv.%20Rep.%20Argentina%2C%202069%20-%20%C3%81gua%20Verde%2C%20Curitiba%20-%20PR%2C%2080620-010!5e0!3m2!1spt-BR!2sbr!4v1674616336395!5m2!1spt-BR!2sbr"
        width="536"
        height="550"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>

{% include 'footer.njk' %}
