---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/contato.css"
---

{% include 'nav.njk' %}

<section class="contato">
  <img class="vector only-desktop" src="/img/main/vectorcontato.svg" alt="" />
  <div class="top">
    <div class="content">
      <div>
        <strong>Contato</strong>
        <p class="sub">
          Entre em contato conosco! <br />
          Estamos à disposição para tirar suas dúvidas e atendê-lo com
          excelência. <br /><br />
          Fale com nossa equipe agora mesmo!
        </p>
      </div>

      <div>
        <!-- <div class="icon">
          <img src="/img/svg/tel.svg" alt="" />
          <a href="tel:4133141500">41 3314 - 1500</a>
        </div> -->
        <div class="icon">
          <img src="/img/svg/whatsapp.svg" alt="" />
          <a
            href="https://api.whatsapp.com/send?phone=5541992591500"
            target="_blank"
            >41 9 9259 - 1500</a
          >
        </div>

        <p>Av. Rep. Argentina, 2069<br />Água Verde | Curitiba, PR</p>
      </div>
    </div>
  </div>
</section>

{% include 'footer.njk' %}
