---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/drluciano.css"
---

<section class="mainBanner">
  <img class="vector" src="/img/svg/drfolha.svg">

  <div class="textSide">
    <h1>Dr. Luciano Prestes</h1>
    <p>“Acredito que cirurgias plásticas ajudam pessoas a recuperarem sua autoestima e qualidade de vida.”</p>
  </div>
  <div class="imgSide">
    <img src="/img/drluciano/drluciano.jpg" alt="">
  </div>
</section>

<section class="saibaMais">
  <div class="btnSide">
    <p>O Dr. Luciano Campelo Prestes apresenta sólida formação na área de Otorrinolaringologia e Cirurgia da face.</p>
    <a href="">SAIBA MAIS</a>
  </div>

  <div class="textSide">
    <p>Graduado em Medicina pela Universidade Federal do Paraná, fez residência médica, obtendo o título de especialista pela mesma instituição logo na sequência. Alguns poucos anos depois, foi titulado como Mestre em Cirurgia pelo Hospital de Clínicas-UFPR.</p>
    <p>Chefiou um Pronto-Atendimento de um hospital de grande demanda na sua especialidade, por 11 anos, comandando e auxiliando na formação de mais de cem médicos que passaram sob sua supervisão. Atua dentro de toda a especialidade de otorrinolaringologia e cirurgia da face, especialmente na Rinoplastia.</p>
  </div>
  <img class="vector" src="/img/svg/smfolha.svg" alt="">
</section>

<div class="line"></div>

<section class="doutor">
  <div class="left">
    <img src="/img/dr_luciano.jpg" alt="" />
  </div>

  <div class="right">
    <h2>Sobre o Dr. Luciano Prestes</h2>

    <div class="steps">
      <div class="step">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Graduação em Medicina</h4>
        <p>UFPR</p>
      </div>

      <div class="step">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Residência em Otorrinolaringologia</h4>
        <p>UFPR</p>
      </div>

      <div class="step">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Aprofundamento em cirurgia plástica facial avançada</h4>
        <p>Universidad de Medellín | Dr Fernando Pedroza</p>
      </div>

      <div class="step">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Mestre em Cirurgia</h4>
        <p>HC da UFPR</p>
      </div>

      <div class="step">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Preceptor em Otorrinolaringologia Geral</h4>
        <p>Hospital IPO</p>
      </div>

      <div class="step">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Preceptor em Rinoplastia</h4>
        <p>Hospital IPO</p>
      </div>

      <div class="step" style="padding-bottom: 0">
        <img src="/img/svg/dot.svg" alt="" />
        <h4>Coordenador e voluntário em ações sociais</h4>
        <p>Curitiba - PR</p>
      </div>
    </div>
  </div>
</section>

<section class="conhecaMais">
  <div class="title">
    <strong>Conheça mais o Dr. Luciano Prestes</strong>
    <a href="https://www.instagram.com/drlucianocampeloprestes/" target="_blank"><img src="/img/svg/iglogo.svg"></a>
  </div>
  <div class="gallery">
    <a href="https://www.instagram.com/drlucianocampeloprestes/" target="_blank"><img src="/img/drluciano/ig5.jpg"></a>
    <a href="https://www.instagram.com/drlucianocampeloprestes/" target="_blank"><img src="/img/drluciano/ig3.jpg"></a>
    <a href="https://www.instagram.com/drlucianocampeloprestes/" target="_blank"><img src="/img/drluciano/ig2.jpg"></a>
    <a href="https://www.instagram.com/drlucianocampeloprestes/" target="_blank"><img src="/img/drluciano/ig4.jpg"></a>
    <a href="https://www.instagram.com/drlucianocampeloprestes/" target="_blank"><img src="/img/drluciano/ig1.jpg"></a>
  </div>
 </section>

<footer>
  <div class="top">
    <img src="/img/main/logo.svg" alt="" />

    <div class="content">
      <div class="icon">
        <img src="/img/svg/phone.svg" alt="" />
        <a href="tel:4133141500">41 3314 - 1500</a>
      </div>
      <div class="icon">
        <img src="/img/svg/whatsapp.svg" alt="" />
        <a
          href="https://api.whatsapp.com/send?phone=5541992591500"
          target="_blank"
          >41 9 9259 - 1500</a
        >
      </div>
      <p>Av. Rep. Argentina, 2069 Água Verde | Curtiba, PR</p>
    </div>
  </div>

  <hr />

  <a href="https://namiconsultoria.com.br" class="nami"
    >Desenvolvido por Nami Consultoria</a
  >
</footer>