---
title: Juliana Pappi Nutricionista
layout: "base.njk"
cssPath: "/css/home.css"
---

<section class="initial-banner">
  <img class="logo" src="./img/logo.svg" alt="" />

  <div>
    <div>
      <h1>
        Tenha um acompanhamento nutricional 100% personalizado, de acordo com
        sua rotina e seus objetivos
      </h1>
      <a
        class="pinkButton"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541988525748"
      >
        agende sua consulta
      </a>
    </div>

    <img src="./img/heroBanner.png" alt="" />
  </div>
</section>

<section class="como-posso-ajudar">
  <img class="linha-banner" src="./img/linha-banner.svg" alt="" />

  <div class="title-container">
    <h4>ESPECIALIDADES</h4>
    <h2>Como posso te ajudar</h2>
  </div>

  <div class="info-container">
    <div class="icon-wrapper">
      <div>
        <img src="./img/pesinho.svg" alt="" />
      </div>
      <p>
        Nutrição <br />
        Esportiva
      </p>
    </div>

    <div class="icon-wrapper">
      <div>
        <img src="./img/fita.svg" alt="" />
      </div>
      <p>
        Nutrição Clínica <br />
        Funcional
      </p>
    </div>

    <div class="icon-wrapper">
      <div>
        <img src="./img/balanca.png" alt="" />
      </div>
      <p>
        Emagrecimento
      </p>
    </div>

    <div class="icon-wrapper">
      <div>
        <img src="./img/running-man.svg" alt="" />
      </div>
      <p>
        Nutrição <br />
        Comportamental
      </p>
    </div>

    <div class="icon-wrapper">
      <div>
        <img src="./img/horario.svg" alt="" />
      </div>
      <p>Climatério e <br />Menopausa</p>
    </div>

    <a
      class="greenButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541988525748"
      >SAIBA MAIS</a
    >
  </div>
</section>

<section class="depoimentos">
  <img src="./img/ju-depo.jpg" alt="" />

  <div class="depo-container">
    <h4>DEPOIMENTOS</h4>
    <h2>
      O que dizem <br />
      meus pacientes
    </h2>

    <div class="depo-wrapper">
      <div class="nav-depo">
        <div class="swiper-button-prev">
          <img onclick="moveLeft()" class="left" src="./img/left.svg" alt="" />
        </div>
        <div class="swiper-button-next">
          <img src="./img/flecha.svg" alt="" />
        </div>
      </div>

      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card">
              <img class="aspas" src="./img/aspas.svg" alt="" />`
              <p>
                Adorei o atendimento que recebi, pois a Juliana foi muito
                atenciosa e possui um grande conhecimento na área dela. Ela me
                ajudou a emagrecer e a melhorar a saúde da minha pele em geral,
                devido às recomendações nutricionais que ajudaram a eliminar a
                acne do meu rosto! Eu definitivamente recomendo a Juliana Pappi
                como nutricionista, porque ela se importa de verdade com os
                clientes dela.
              </p>

              <h4>M.F.</h4>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img class="aspas" src="./img/aspas.svg" alt="" />`
              <p>
                Ótima profissional! Atendeu minha família toda, foi até minha
                casa orientar as melhores compras e como preparar melhor os
                alimentos. Me orientou em pós-operatório e tive ótimos
                resultados! Além de nutricionista, se tornou uma amiga.
                Recomendo muito.
              </p>

              <h4>L.D.</h4>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img class="aspas" src="./img/aspas.svg" alt="" />`
              <p>
                Excelente profissional! Ótimo consultório, bem montado e
                localizado, onde deixou-me tranquilo para realização da
                consulta. Profissional que ama o que faz e faz com excelência!
                Recomendo a todas as pessoas que realmente queiram um ótimo
                resultado para emagrecimento, além do mais, já atuou como
                educadora física, onde pode unir o útil ao agradável, pois pode
                direcionar seus pacientes da melhor maneira possível.
              </p>

              <h4>J.M.</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card">
              <img class="aspas" src="./img/aspas.svg" alt="" />`
              <p>
                Gostei muito do atendimento, pontualidade e principalmente do
                planejamento alimentar elaborado de acordo com minha realidade.
                A dra Juliana é muito atenciosa e detalhista. Outra coisa
                positiva é a localização e estacionamento seguro e gratuito.
              </p>

              <h4>M.L.F.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="greenButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541988525748"
      >agende sua consulta</a
    >
  </div>
</section>

<section class="acompanhamento">
  <img class="linhas" src="./img/linhas2.svg" alt="" />

  <div class="title-container">
    <img src="./img/selo.svg" alt="" />
    <h4>COMO FUNCIONA O</h4>
    <h2>
      Acompanhamento <br />
      Nutricional
    </h2>
  </div>

  <div class="passos">
    <div class="step">
      <h2>01</h2>
      <div>
        <h3>Anamnese</h3>
        <p>
          Assim que você chegar ao consultório, vamos conversar e avaliar seu
          objetivo como um todo: melhorar sua saúde, ganhar massa magra,
          eliminar gordura, ter uma rotina mais saudável, melhorar seu
          desempenho físico, entre outras possibilidades.
        </p>
      </div>
    </div>

    <div class="step">
      <h2 class="pink">02</h2>
      <div>
        <h3 class="pink">Plano de Ação</h3>
        <p>
          Por meio de uma avaliação física detalhada, consigo traçar o seu
          perfil, aplicando técnicas e vendo as reais necessidades do seu corpo.
          Na mesma consulta, você sai com uma avaliação física completa, suas
          metas e um plano para começar sua nova vida.
        </p>
      </div>
    </div>

    <div class="step">
      <h2 class="roxo">03</h2>
      <div>
        <h3 class="roxo">Acompanhamento</h3>
        <p>
          O tempo de acompanhamento e de retorno são decididos junto com você,
          ainda nesta primeira consulta. Você receberá por email sua dieta,
          dicas, receitas e sua avaliação, para acompanhamento.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="app">
  <div class="content">
    <h2>
      Você terá a nutricionista<br />
      na palma da sua mão
    </h2>
    <p>
      Durante o período de tratamento o paciente tem acesso direito com a
      nutricionista através do aplicativo Diet Box, para tirar todas as dúvidas
      e ter sucesso no tratamento
    </p>
    <a
      class="pinkButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541988525748"
      >agende sua consulta</a
    >
  </div>
  <img src="./img/app.png" alt="" />
</section>

<section class="quem-eh">
  <img src="./img/jupappi.jpg" alt="" />

  <div>
    <h4>QUEM É</h4>
    <h2>
      Juliana Pappi
    </h2>

    <p>
      Olá, me chamo Juliana Pappi, sou nutricionista, com formação e
      experiências também na educação física, e atuo na área da saúde desde
      2006. Meu objetivo é trabalhar na prevenção de doenças e
      <strong>trazer mais qualidade de vida aos meus pacientes.</strong>
    </p>

    <p>
      Muitos chegam ao meu consultório querendo apenas emagrecer, ou adequar a
      alimentação para a prática de alguma atividade física, mas com o tempo
      percebem tantos outros benefícios que a nutrição é capaz.
    </p>

    <p>
      <strong>A Nutrição não é apenas sobre dietas ou regimes,</strong> mas sim
      sobre a construção de um
      <strong>estilo de vida muito mais saudável.</strong> Nos meus atendimentos
      levo em consideração as individualidades de cada paciente, para que juntos
      possamos criar um
      <strong>planejamento alimentar adequado à realidade,</strong> eficaz e
      duradouro.
    </p>

    <a
      class="greenButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541988525748"
    >
      quero agendar <br />
      uma consulta
    </a>
  </div>
</section>

<section class="frase">
  <div>
    <img class="left-quote" src="./img/left-quote.svg" alt="" />
    <p>
      Cada dia me convenço mais que a nutrição e a atividade física são capazes
      de nos proporcionar uma melhor qualidade de vida!
    </p>
    <img class="right-quote" src="./img/right-quote.svg" alt="" />
  </div>
  <a
    class="roxoButton"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541988525748"
    >AGENDE SUA CONSULTA</a
  >
</section>

<section class="video-consulta">
  <img class="linhas" src="./img/linhas-2.svg" alt="" />
  <iframe
    width="400px"
    height="510px"
    allow="fullscreen;"
    class="video-youtube"
    src="https://www.youtube.com/embed/ecCXrNntugs"
    title="Como funciona a consulta"
  >
  </iframe>

  <div>
    <h4>COMO FUNCIONAM</h4>
    <h2>As minhas consultas</h2>

    <a
      class="pinkButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541988525748"
      >ENTRE EM CONTATO</a
    >
  </div>
</section>

<section class="instagram">
  <img src="./img/post10.jpg" alt="" />
  <img src="./img/post2.jpg" alt="" />
  <img src="./img/post3.jpg" alt="" />
  <img src="./img/post4.jpg" alt="" />
  <img src="./img/post5.jpg" alt="" />
</section>

<section class="form">
  <form name="contato" method="POST" data-netlify="true" id="form1">
    <h2>Vamos conversar?</h2>

    <input type="text" name="Nome" placeholder="Seu Nome" />
    <input type="text" name="Email" placeholder="Seu E-mail" />
    <input type="text" name="Telefone" placeholder="Seu Telefone" />
    <input type="text" name="Mensagem" placeholder="Sua Mensagem" />

    <button
      class="roxoButton"
      id="submit-form1"
      form="form1"
      type="submit"
      value="submit"
    >
      ENVIAR
    </button>
  </form>

  <div>
    <h3>Pequenas atitudes geram grandes resultados.</h3>

    <p>
      Se hoje você busca uma melhora na qualidade de vida ou passa pelo desafio
      do emagrecimento, saiba que eu posso te ajudar!
    </p>
  </div>
</section>

<section class="maps">
  <span class="gray"></span>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.930980029786!2d-49.253209684431766!3d-25.407120838212535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce5fdc13a5693%3A0x19b2fd42048142f5!2sJuliana%20Pappi%20-%20Nutricionista%20especializada%20em%20emagrecimento%2C%20nutri%C3%A7%C3%A3o%20funcional%2C%20nutri%C3%A7%C3%A3o%20esportiva%20e%20sa%C3%BAde%20da%20mulher.!5e0!3m2!1spt-BR!2sbr!4v1663199548340!5m2!1spt-BR!2sbr"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <div>
      <h2>Onde Estamos</h2>
      <p>
        <strong>Centro Comercial Costa Curta | Sala 403</strong> <br />
        R. dos Funcionários, 961 Cabral<br />
        Curitiba - PR, 80035-050
      </p>

      <a
        class="pinkButton"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541988525748"
        >Entre em contato</a
      >
    </div>
  </div>
</section>

<a
  class="zap"
  href="https://api.whatsapp.com/send?phone=5541988525748"
  target="_blank"
>
  <img src="./img/floating-zap.svg" alt="" />
</a>

<footer>
  <div>
    <img class="logo" src="/img/logo-white.svg" alt="" />

    <div>
      <a
        class="iconWrapper"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5541988525748"
      >
        <img src="/img/whatsapp.svg" alt="" />
        <p>41 98852-5748</p>
      </a>

      <a class="iconWrapper" href="mailto:julianapappi@hotmail.com">
        <img src="/img/email.svg" alt="" />
        <p>jupappi@hotmail.com</p>
      </a>

      <a
        class="iconWrapper"
        target="_blank"
        href="https://www.instagram.com/julianapappi.nutri/"
      >
        <img src="/img/insta.svg" alt="" />
        <p>@julianapappi.nutri</p>
      </a>
    </div>
  </div>

  <p>© 2022 Juliana Pappi - Todos os Direitos Reservados</p>
</footer>

<script>
  const swiper = new Swiper(".swiper", {
    speed: 400,
    spaceBetween: 30,
    slidesPerView: 1,
    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    breakpoints: {
      // when window width is >= 480px
      300: {
        slidesPerView: 1,
        spaceBetween: 30,
        width: 350
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: 1,
        spaceBetween: 40,
        width: 550
      }
    }
  });
</script>
