---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/main.css"
---

{% include 'nav.njk' %}

<section class="initial-banner">
  <div class="content">
    <h1>
      Resultados harmônicos <br />
      e naturais
    </h1>
    <p>
      Nossa clínica tem como propósito revelar a beleza única e natural em cada
      paciente, por meio de procedimentos que buscam a harmonia e a simetria em
      cada traço.
    </p>
  </div>
 
    <img class="banner-img" src="../img/drluciano/luciano-home.png" alt="Foto do paciente" />
</section>

<!-- <section class="rinoBanner">
  <div class="rinoFirst">
    <div class="rinoSide">
      <p>RINOPLASTIA</p>
      <h2>O nariz que você sempre sonhou em harmonia com o seu rosto.</h2>
    </div>
    <div class="btnSide">
      <p>
        Corrija as imperfeições do seu nariz com naturalidade, com rápida
        recuperação com alta no mesmo dia.
      </p>

      <a
        href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
        target="_blank"
        >Agendar avaliação por WhatsApp</a
      >

      <a
        href="/cirurgias-plasticas/?cirurgia=rinoplastia"
        class="more-details-button"
        ><img src="/img/main/plus2.svg" alt="" />Saiba mais sobre a
        Rinoplastia</a
      >
    </div>
  </div>
  <div class="rinoSecond">
    <div class="rinoFlex">
      <div class="rinoItem">
        <img src="/img/main/rinoicon.svg" alt="" />
        <p>Anestesia local com sedação</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon2.svg" alt="" />
        <p>
          Acompanhamento pós-operatório por seis meses (sem custo adicional)
        </p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon3.svg" alt="" />
        <p>Laser ultrassônico para corte do osso (sem uso de martelo)</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon4.svg" alt="" />
        <p>Rápida recuperação com alta no mesmo dia</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon5.svg" alt="" />
        <p>Sem uso de Tampões</p>
      </div>
    </div>
  </div> 
</section> 

<section class="blefaBanner">
  <div class="blefaFirst">
    <div class="blefaSide">
      <p>BLEFAROPLASTIA</p>
      <h2>Seus olhos e pálpebras sem flacidez ou bolsas</h2>
      <div class="btnSide">
        <p>
          A cirurgia remove excesso de pele e gordura das pálpebras, eliminando
          olheiras e bolsas. <br />
          Resultado: olhar rejuvenescido e aparência mais descansada.
        </p>

        <a
          href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
          target="_blank"
          >Agendar avaliação por WhatsApp</a
        >
        <a href="/cirurgias-plasticas/?cirurgia=blefaroplastia"
          ><img src="/img/main/plus.svg" alt="" />Saiba mais sobre a
          blefaroplastia</a
        >
      </div>
    </div>
    <img
      class="otoImg"
      src="/img/blefaroplastia/blefaroplastia-banner.png"
      alt=""
    />
  </div>
</section> -->

<section class="otoSection">
  <img class="otoImg" src="/img/man-rinoplastia.png" alt="" />
  <div class="otoFlex">
    <p>RINOPLASTIA</p>
    <strong>O nariz que você sempre sonhou em harmonia com o seu rosto.</strong>
    <span>
      Corrija as imperfeições do seu nariz com naturalidade, com rápida
      recuperação com alta no mesmo dia.
    </span>
    <a href="/cirurgias-plasticas/?cirurgia=rinoplastia"
      ><img src="/img/main/plus2.svg" alt="" />Saiba mais sobre a Rinoplastia</a
    >
    <a
      class="CTA"
      href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
      target="_blank"
      >Agendar avaliação por WhatsApp</a
    >
  </div>
</section>

<section class="otoSection-revert">
  <div class="otoFlex">
    <p>BLEFAROPLASTIA</p>
    <strong>Seus olhos e pálpebras sem flacidez ou bolsas</strong>
    <span>
      A cirurgia remove excesso de pele e gordura das pálpebras, eliminando
      olheiras e bolsas. <br />
      Resultado: olhar rejuvenescido e aparência mais descansada.
    </span>

    <a href="/cirurgias-plasticas/?cirurgia=blefaroplastia"
      ><img src="/img/main/plus.svg" alt="" />Saiba mais sobre a
      Blefaroplastia</a
    >
    <a
      class="CTA"
      href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
      target="_blank"
      >Agendar avaliação por WhatsApp</a
    >
  </div>
  <img
    class="otoImg"
    src="/img/blefaroplastia/blefaroplastia-banner.png"
    alt=""
  />
</section>

<section class="otoSection">
  <img class="otoImg" src="/img/main/otobanner.png" alt="" />
  <div class="otoFlex">
    <p>OTOPLASTIA</p>
    <strong
      >A otoplastia é a cirurgia que corrige esteticamente as orelhas de
      abano</strong
    >
    <span>
      O procedimento pode ajudar na recuperação da autoestima e é realizado com
      anestesia local e sedação.
    </span>
    <a href="/cirurgias-plasticas/?cirurgia=otoplastia"
      ><img src="/img/main/plus2.svg" alt="" />Saiba mais sobre a Otoplastia</a
    >
    <a
      class="CTA"
      href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
      target="_blank"
      >Agendar avaliação por WhatsApp</a
    >
  </div>
</section>

<section class="expBanner">
  <strong>Mais de 15 anos de experiência em rinoplastia</strong>
  <p>
    O Dr. Luciano tem muito amor à sua profissão e dedica-se com afinco para a
    satisfação de seus pacientes.
  </p>
</section>

<section class="drluciano">
  <div class="textFlex">
    <span>Dr. Luciano Prestes</span>
    <strong
      >Acredito que cirurgias plásticas ajudam pessoas a recuperarem sua
      autoestima e qualidade de vida.</strong
    >
    <a class="more" href="/drluciano"
      ><img src="/img/main/plus2.svg" alt="" />Conheça o Dr. Luciano Prestes</a
    >
    <a
      class="btn"
      href="https://tintim.link/whatsapp/5d01b723-5431-4484-83a2-6617e8474499/4e4f1ef3-1cf0-452f-8246-c6cb5e239585"
      target="_blank"
      >Agende sua consulta</a
    >
  </div>
  <img class="luciano" src="/img/main/luciano.png" alt="" />
</section>

<section class="consultorio">
  <div class="slide">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="/img/main/office.png" style="width: 50vw" />
      </div>

      <div class="mySlides fade">
        <img src="/img/main/office2.png" style="width: 50vw" />
      </div>

      <div class="mySlides fade">
        <img src="/img/main/office3.png" style="width: 50vw" />
      </div>
    </div>
    <br />

    <div class="dots" style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>

  <div class="textFlex">
    <strong>Estrutura para te atender</strong>
    <p>
      Para garantir a saúde e o bem-estar dos meus pacientes, conto com uma equipe de médicos referências em suas especialidades, além de uma infraestrutura moderna e equipada com tecnologia de ponta na Novva Otorrino.
    </p>
  </div>
</section>

<section class="blog">
  <img class="bg1" src="/img/main/maskbg.svg" alt="" />
  <img class="bg2" src="/img/main/maskbg2.svg" alt="" />
  <div class="textFlex">
    <span>BLOG</span>
    <strong>Fique por dentro</strong>
    <p>
      Acesse nosso blog e explore um mundo de informações e conteúdo valioso.
      Junte-se a nós e amplie seus conhecimentos com nossos artigos
      interessantes!
    </p>
    <a href="/blog"
      ><img src="/img/main/plus2.svg" alt="" />Visite nosso blog</a
    >
  </div>
</section>

{% include 'footer.njk' %}

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>
