---
title: Dr. Luciano Prestes || Otoplastia
layout: "base.njk"
cssPath: "/css/otoplastia.css"
---

<section class="initial-banner">
  <div class="content">
    <h1>
      Otoplastia: sua auto-estima renovada num procedimento simples e rápido
    </h1>
    <p>
      Melhore a posição e angulação de suas orelhas e com isso, destaque os
      aspectos positivos do seu rosto.
    </p>

    <a
      class="green-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
    >
      Agendar avaliação por whatsapp
    </a>
  </div>

  <picture>
    <!-- <source type="image/webp" srcset="../../img/otoplastia/otoplastia-banner.webp" /> -->
    <source
      type="image/png"
      srcset="../../img/otoplastia/otoplastia-banner.png"
    />
    <img
      class="banner-img"
      src="../../img/otoplastia/otoplastia-banner.png"
      alt="Foto do paciente"
    />
  </picture>
  <img class="logo" src="./../img/svg/logo-dark.svg" alt="" />
</section>

<section class="beneficios">
  <h2>Benefícios da Otoplastia com o Dr Luciano Prestes:</h2>
  <div class="beneficios-container">
    <div class="icon">
      <img src="./../img/svg/ben1-white.svg" alt="" />
      <p>Anestesia local com sedação</p>
    </div>
    <div class="icon">
      <img src="./../img/svg/ben2-white.svg" alt="" />
      <p>Acompanhamento pós-operatório por seis meses (sem custo adicional)</p>
    </div>
    <div class="icon">
      <img src="./../img/svg/ben3-white.svg" alt="" />
      <p>Rápida recuperação, geralmente com pós-operatório indolor</p>
    </div>
    <div class="icon">
      <img src="./../img/svg/ben5-white.svg" alt="" />
      <p>Procedimento muito pouco invasivo</p>
    </div>
    <div class="icon">
      <img src="./../img/svg/ben4-white.svg" alt="" />
      <p>Alta no mesmo dia</p>
    </div>
  </div>

  <a
    class="green-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >
    Agendar avaliação por whatsapp
  </a>

  <hr />

  <img class="folha-esquerda" src="./../img//svg/folha-esquerda.svg" alt="" />
  <img class="folha-direita" src="./../img//svg/folha-direita.svg" alt="" />
</section>

<section class="rinoplastia">
  <h2>Quando fazer uma otoplastia?</h2>

  <div class="card-container">
    <div class="card-container">
      <div class="card">
        <p>
          Correção das orelhas em abano, angulação das orelhas e/ou orelhas
          proeminentes
        </p>
      </div>
      <div class="card">
        <p>Correção de deformações genéticas ou acidentais</p>
      </div>
      <div class="card">
        <p>Redução de orelhas muito grandes e/ou desproporcionais</p>
      </div>
      <div class="card">
        <p>Redução dos lóbulos aumentados</p>
      </div>
    </div>
  </div>

  <a
    class="green-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >
    Agendar avaliação por whatsapp
  </a>
</section>

<section class="procedimento">
  <div class="title">
    <p>passo a passo</p>
    <h2>Como funciona o procedimento de Otoplastia?</h2>

    <a
      class="green-button only-desktop"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </div>

  <div class="steps">
    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Primeira consulta (online ou presencial)</h4>
      <p>
        O Dr. Luciano examinará e indicará o procedimento adequado para você
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Agendamento da cirurgia</h4>
      <p>
        O paciente deverá chegar com uma hora de antecedência na clínica e ficar
        8 horas em jejum
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>O procedimento</h4>
      <p>
        A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Recuperação</h4>
      <p>
        A retirada dos pontos é feita após sete dias do procedimento. Do oitavo
        dia em diante a resolução dos hematomas e inchaço é rápida e constante
      </p>
    </div>

    <div class="step" style="padding-bottom: 0">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Cuidados pós-cirúrgicos</h4>
      <p>
        Cumprir orientações de cuidado pós cirurgia e comparecer as consultas.
      </p>
    </div>
  </div>

  <img src="./../img/svg/leaf-left.svg" alt="" class="leaf-left" />

  <a
    class="green-button only-mobile"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
  </a>
</section>

<hr class="separator" />

<section class="otoplastia-recuperacao">
  <h2>Recuperação</h2>
  <p>
    A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor.
  </p>

  <div class="card-container">
    <div class="card">
      <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
      <p>Curativo 48-72 horas</p>
    </div>
    <div class="card">
      <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
      <p>Pontos retirados em 14 dia</p>
    </div>
    <div class="card">
      <img src="./../img/otoplastia/rectangle-bordered.png" alt="" />
      <p>
        Analgésicos <br />
        leves
      </p>
    </div>
  </div>

  <a
    class="green-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >
    Agendar avaliação por whatsapp
  </a>
</section>

<section class="perguntas">
  <h2>Perguntas Frequentes</h2>

  <button type="button" class="collapsible">
    Posso realizar o procedimento de otoplastia por convênio médico?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      A consulta de avaliação pode ser realizada de forma particular ou pelos
      convênios unimed, amil, sulamerica, bradesco, copel, sanepar, paraná
      clínicas, sinam. Já a cirurgia é feita exclusivamente de maneira
      particular, alguns convênios cobrem parte da cirurgia é necessário
      verificação com seu convênio.
    </p>
  </div>

  <button type="button" class="collapsible">
    Quanto custa o procedimento?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Devido à regra XIV da resolução 1974/11 do Conselho Federal de Medicina,
      não podemos divulgar o preço da cirurgia publicamente. Caso tenha
      interesse em saber o valor do procedimento, envie-nos uma mensagem por
      WhatsApp clicando no botão no final da página, que iremos fornecer todas
      as informações.
    </p>
  </div>

  <button type="button" class="collapsible">
    O local da consulta de avaliação e da cirurgia é o mesmo?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Sim, o consultório do Dr. Luciano Prestes e a sala de cirurgia ficam
      localizados no Hospital IPO, centro médico de referência na área de
      Otorrinolaringologia em Curitiba-PR.
    </p>
  </div>

  <button type="button" class="collapsible">
    É possível fazer outras cirurgias juntamente com a otoplastia?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Sim, é possível e muito frequente. Como a Rinoplastia e a Blefaroplastia
      são feitas também sob anestesia local e sedação, muitos pacientes já fazem
      dois procedimentos juntos.
    </p>
  </div>

  <button type="button" class="collapsible">
    Como é feita a anestesia?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Na maioria das vezes são procedimentos feitos com anestesia local e
      sedação, e têm duração de aproximadamente uma hora com cirurgiões
      experientes.
    </p>
  </div>

  <button type="button" class="collapsible">
    Como é feita a cirurgia?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Fazemos uma incisão atrás da orelha, para retirar o excesso de pele. Por
      meio desta mesma incisão, retiramos o excesso de cartilagem da concha
      nasal e mudamos a direção da anti-hélice ( borda superior da orelha ) com
      suturas. Por fim, ancoramos a orelha com forte sutura na posição ideal.
    </p>
  </div>

  <button type="button" class="collapsible">
    Qual é o tempo de cirurgia?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      A cirurgia de otoplastia tem duração de aproximadamente uma 1 hora e meia.
    </p>
  </div>

  <button type="button" class="collapsible">
    Como é a recuperação com relação à dor e hematomas?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      Na maioria dos casos, a otoplastia é de pouca, ou nenhuma dor, Em caso de
      dores, analgésicos tradicionais podem ser ministrados para alívio
      instantâneo. Hematomas também são comuns e tendem a desaparecer
      completamente após uma média de 14 dias.
    </p>
  </div>

  <button type="button" class="collapsible">
    Em quanto tempo após a cirurgia posso retornar para o trabalho e atividades
    físicas?
    <p class="symbol">+</p>
  </button>
  <div class="text-content">
    <p>
      O período de repouso pode variar de acordo com cada paciente. A
      recomendação geral é de repouso relativo nos primeiros 7 dias. Porém, o
      ideal é esperar por 14 dias para a recuperação total, tendo cuidado
      especial com atividades físicas que exigem esforço físico.
    </p>
  </div>
</section>

<script>
  const swiper = new Swiper(".swiper", {
    // Optional parameters
    direction: "horizontal",
    slidesPerView: "1",
    spaceBetween: 50,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });

  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var el = this.children;
      if (this.classList[1]) {
        el[0].innerText = "-";
      } else {
        el[0].innerText = "+";
      }

      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

<footer>
  <div class="top">
    <img src="./../img/svg/logo-footer.svg" alt="" />

    <div class="content">
      <!-- <div class="icon">
        <img src="./../img/svg/tel.svg" alt="" />
        <a href="tel:4133141500">41 3314 - 1500</a>
      </div> -->
      <div class="icon">
        <img src="./../img/svg/whats.svg" alt="" />
        <a
          href="https://api.whatsapp.com/send?phone=5541992591500"
          target="_blank"
          >41 9 9259 - 1500</a
        >
      </div>

      <p>Av. Rep. Argentina, 2069 Água Verde | Curtiba, PR</p>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.2050678147702!2d-49.29278798471778!3d-25.4648270837725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce37b130258b9%3A0xb0b13d7fa49f192f!2sAv.%20Rep.%20Argentina%2C%202069%20-%20%C3%81gua%20Verde%2C%20Curitiba%20-%20PR%2C%2080620-010!5e0!3m2!1spt-BR!2sbr!4v1674616336395!5m2!1spt-BR!2sbr"
      width="392"
      height="400"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <hr />

  <a href="https://namiconsultoria.com.br" class="nami"
    >Desenvolvido por Nami Consultoria</a
  >
</footer>
