---
title: Dr. Luciano Campelo Prestes
layout: "base.njk"
cssPath: "/css/rinoplastia.css"
---

<section class="mainBanner">
  <div class="textSide">
    <h1>Rinoplastia</h1>
    <p>O Dr Luciano preza por um resultado estético que resolva todos as imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que se obtenha um resultado natural, sem feições de cirurgia plástica.</p>
  </div>
  <img src="/img/rinoplastia/mainbanner.png" alt="">
</section>

<section class="rinoBanner">
  <img class="folha" src="/img/rinoplastia/rinofolha.svg" alt="">

  <div class="rinoTitle">
      <h2>Benefícios da Rinoplastia</h2>
  </div>
  <div class="rinoSecond">
    <div class="rinoFlex">
      <div class="rinoItem">
        <img src="/img/main/rinoicon.svg" alt="">
        <p>Anestesia local com sedação</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon2.svg" alt="">
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional)</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon3.svg" alt="">
        <p>Laser ultrassônico para corte do osso (sem uso de martelo)</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon4.svg" alt="">
        <p>Rápida recuperação com alta no mesmo dia</p>
      </div>
      <div class="rinoItem">
        <img src="/img/main/rinoicon5.svg" alt="">
        <p>Sem uso de Tampões</p>
      </div>
    </div>
  </div>
  <a href="">Agendar avaliação por WhatsApp</a>
</section>

<section class="rinoplastia">
  <strong>Quando fazer uma rinoplastia?</strong>
  <p>
    Este é um procedimento que pode ser realizado para resolver diversas queixas
    e mudanças no nariz, como:
  </p>

  <div class="card-container">
    <div class="card">
      <img src="/img/rectangle-bordered.png" alt="" />
      <p>Ponta caída ou grossa</p>
    </div>
    <div class="card">
      <img src="/img/rectangle-bordered.png" alt="" />
      <p>Abertura nasal alargada</p>
    </div>
    <div class="card">
      <img src="/img/rectangle-bordered.png" alt="" />
      <p>Nariz torto, ou grande</p>
    </div>
  </div>

  <a
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
  >
    Agendar avaliação por whatsapp
  </a>
</section>

<section class="procedimento">
  <div class="title">
    <p>passo a passo</p>
    <h2>Como funciona o procedimento de rinoplastia?</h2>

    <a
      class="green-button only-desktop"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541992591500"
      >Agendar avaliação por whatsapp
    </a>
  </div>

  <div class="steps">
    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Consulta online e presencial</h4>
      <p>
        O Dr. Luciano examinará sua região nasal e compreenda seus objetivos.
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Simulador de resultado cirúrgico</h4>
      <p>
        O programa permite ao Dr. Luciano compreender a insatisfação estética do paciente, para que juntos realizem um esboço do que será feito no procedimento.
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Agendamento da consulta</h4>
      <p>
        O paciente deverá comparecer ao local pelo menos 1 hora antes do horário programado para assinar os documentos necessários e ser preparado para o procedimento.
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Procedimento</h4>
      <p>
        A cirurgia levará em torno de 1 hora e o paciente receberá alta no mesmo dia.
      </p>
    </div>

    <div class="step">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Recuperação</h4>
      <p>
        O paciente utiliza curativo por sete dias e geralmente tem edemas e inchaço.
      </p>
    </div>
    <div class="step" style="padding-bottom: 0">
      <img src="./../img/svg/dot.svg" alt="" />
      <h4>Cuidados pós-cirúrgicos</h4>
      <p>
        Cumprir orientações de cuidado pós cirurgia e comparecer as consultas.
      </p>
    </div>
  </div>

  <img src="./../img/svg/leaf-left.svg" alt="" class="leaf-left" />

  <a
    class="green-button only-mobile"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=5541992591500"
    >Agendar avaliação por whatsapp
  </a>
</section>

<div class="line"></div>

<section class="procedimentos">
  <div class="titleSide">
    <strong>Procedimentos Associados</strong>
    <p>Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou Turbinectomia (remoção de cornetos nasais), concomitantemente à Rinoplastia.</p>
  </div>
  <div class="btnSide">
    <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo Otorrinolaringologista.</p>
    <a href=""><img src="/img/main/plus2.svg" alt="">Conheça outras cirurgias</a>
  </div>
</section>

{% include 'footer.njk' %}
